[2016-08-22 11:15] MateuLlull opened #1 "Get the selected item"
Hi,

How can I get the item when I click on autocomplete-item? There is no public method for getting items.

Thank's!

[2016-08-24 14:09] kadoshms commented on #1
Hey @MateuLlull, your'e right, currently there's no indication for item selection exposed outside the component itself.
I'll add this feature ASAP.

[2016-08-24 14:34] kadoshms commented on #1
Hey again @MateuLlull.
Iv'e just commited and released this request to npm (v1.2.0), you can simply add:

`(itemSelected)="doSomething($event)"` to the component and then get the selected item.

Have a great day!

[2016-08-25 15:37] MateuLlull commented on #1
Awesome @kadoshms! Now this component is ready to be used! Thank's! :+1:

[2016-09-03 14:56] lukealford opened #3 "Showing all results when using static data."
So i'm just using this as a quick way of not making people type out a whole item as we know most of the categories they want to search so we are opting to use static data.

My Service is the following, I may be using it wrong I'm not sure since you didn't show how a static example would work in the docs.

[code]
And here is a screenshot of the issue.
![bug](https://cloud.githubusercontent.com/asse

[2016-09-04 15:56] kadoshms commented on #3
Thanks for letting me know, I'll check this out as soon as I come back from vacation :)

[2016-09-04 16:03] #3 closed

[2016-10-05 23:23] arsewizz opened #4 "RC0 issue"
hey, thirst thanks for the super work. with the latest update ionic doesn't use gulp, what next?

[2016-10-06 16:47] kadoshms commented on #4
Your'e totally right, I should figure it out.
Ill probably work on it tommorow!

[2016-10-07 12:51] arsewizz commented on #4
okey thanks, just wainting for

[2016-10-07 15:27] kadoshms commented on #4
Seems like upgrading to RC.0 requires more work than I though (since they also upgraded Angular), but look forward for my updates!

[2016-10-08 11:36] arsewizz commented on #4
i'm waiting

[2016-10-11 15:37] queejie opened #5 "Would Love to Use for RC0"
Mor, thanks for your efforts on this.  I'm not yet adept enough to create this component for Ionic2, so I'm hoping you'll finish this one!  Any idea on when it might be ready?

[2016-10-11 15:57] kadoshms commented on #5
I am doing my best efforts to fix this asap, alongside my school duties and my job :)
I really hope to have this done very soon, I am currently facing some technical issues, but I will do my best!

[2016-10-11 17:53] kadoshms commented on #5
Iv'e updated the plugin and the docs, enjoy!

[2016-10-11 17:53] #5 closed

[2016-10-11 17:53] kadoshms commented on #4
I updated the plugin and the docs, enjoy!

[2016-10-11 17:53] #4 closed

[2016-10-11 17:55] queejie commented on #5
Sorry for the duplication, and thanks again, very much!

[2016-10-12 03:30] mwiley63 opened #6 "no pipe found for boldprefix"
Hey thanks for the great work! And my apologies if this is a dupe of #4 and #5 .

I'm guessing due to the recent ionic update (2.1.0); boldprefix is not defined when loading the @AutoCompleteItem annotation.  I am confused by the instructions in the readme.  ionic 2.1 is using rc4 of Angualr2, and ngModule was introduced in rc5.

For now, I worked around this by commenting changing the code to the

[2016-10-12 08:38] kadoshms commented on #6
Nope it's not a duplicate, I'm on it!

[2016-10-21 10:09] beardroid2005 opened #8 "Unable to compile for Android"
The plugin works if you use it with "ionic serve"

When try to build a platform, I received this error message

_Error: Unexpected value 'AUTOCOMPLETE_DIRECTIVES' declared by the module 'AppModule'
ngc failed
ionic-app-script task: "build"
Error: Error_

I have include the plugin in my project with
_"ionic2-auto-complete": "^1.3.1"_
in package.json

Ionic info:
Cordova CLI: 6.3.1
Gulp version:  CL

[2016-10-23 09:45] kadoshms commented on #8
Thanks for your attention.
It is a real unfortunate issue regarding the total change of approach Angular decided to take while upgrading.
I will try to do my best to find a proper solution, in the mean time, feel free to update me if you find anything.

[2016-10-27 19:15] mateullull commented on #8
Same issue. I think that the way is to add a `@NgModule` directive to the `directives.ts` file, but it still throwing errors.

[2016-10-28 08:43] kadoshms commented on #8
Yes, all of those issues occured since Angular made a big change of concept when they introduced NgModule.
I hope to have a solution soon, as for the moment  I am not as available as I would like :(

If you have any idea, let me know!

[2016-10-28 10:33] mateullull commented on #8
Look these interestings links about this issue:
https://medium.com/@isaacplmann/making-your-angular-2-library-statically-analyzable-for-aot-e1c6f3ebedd5#.8lf1cp2kj
https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.70jamdjcz

[2016-11-12 04:57] pablovelezvidal opened #9 "provide wether screenshots or live example"
Hi guys,

thanks for taking your time to create and publish plugins. An small suggestion is to add a live example of the plugin working or at least screenshots showing how it works.
I'm not sure if this is what I need unless I see it working.

Regards

[2016-11-12 08:17] zeroseed opened #10 "Can't install using NPM"
Hey bro ! thanks for your plugin , i appreciated it.
but when i installing using npm there's problem

This error is from your repository or what?
Thank you

[2016-11-12 09:14] #10 closed, assigned to nobody

[2016-11-12 13:35] zeroseed opened #11 "Get selected item from json ?"
How to get selected item using (itemSelected) callback ?
eg : the data is {"name": "Indonesia", "currency":"IDR"}
how to get the "IDR" when event triggered ?
so i still want to showing "Indonesia" on input text but i need "IDR" as input value.

Thank you! 👍

[2016-11-13 04:13] zeroseed commented on #10
Ok I got it
I need to install typings first

`npm install typings`

[2016-11-13 05:34] kadoshms commented on #9
Thanks, I will consider it :)

[2016-11-13 05:34] #9 closed

[2016-11-14 21:47] vijaypatel opened #12 "getting unexpected value error while build process of android"
[16:36:28]  Error: Unexpected value 'AUTOCOMPLETE_DIRECTIVES' declared by the module 'AppModule'

`    "ionic2-auto-complete": "^1.3.1",`
`import { AUTOCOMPLETE_DIRECTIVES, AUTOCOMPLETE_PIPES } from 'ionic2-auto-complete';

@NgModule({
  declarations: [
    MyApp,
    LoginPage,
    DefectSelectionPage,
    WagonSetInfoPage,
    HomePage,
    InspectionHistoryPage,
    ServiceHandlePage,
    Splas

[2016-12-09 10:08] ragunathans commented on #8
Same issue. How can we overcome this issue?

[2016-12-18 14:43] danielcamilo commented on #8
Same problem here... I really liked the component but my project can't wait so long, I'm going to use another one while this issue remains open... anyway, congrats for the initiative.

[2016-12-19 12:48] kadoshms commented on #8
@danielcamilo thanks :)
I am currently super busy (school, job etc..) so I couldn't find the time for looking through this, but I am totally planing to some day.
Sorry for your inconvenience :(

[2017-01-13 15:54] mosca90 commented on #12
Ionic 2 R5, with little adjustments, it works.

[2017-01-16 13:35] mosca90 opened #13 "Custom Templates not working"
Using custom templates and following your example, give error:
`More than one component matched on this element.
Make sure that only one component's selector can match a given element.
Conflicting components: AutoCompleteItemComponent,CompTestIte`

This is the extends:

`
@AutoCompleteItem({
  template : "<img /> - <span [innerHTML]="data.name | boldbegin:keyword"></span>"
})
export class CompTest

[2017-02-14 06:40] zaiderikat commented on #11
Still no answer, have you solved it ?

[2017-02-14 07:04] zaiderikat commented on #11
Here is the solution:
Add this to the page.html
`<ion-auto-complete [dataProvider]="completeTestService" (itemSelected)="getVal($event)"></ion-auto-complete>`

In the page.ts use this:

`
getVal($event){
    console.log($event);
  }
`
It will return the entire selected object.

[2017-02-14 15:04] georgibakken commented on #8
Same issue here, when building with `npm run ionic:build --prod`

[2017-02-14 15:17] zeroseed commented on #11
Thanks but, did you mean entire selected object ?
what i mean is to get the value="" on option, not the entire text
I already use getVal($event) it just give me option text not the option value

[2017-02-23 10:27] sasokovacic opened #14 "Can't clear value after selecting an item"
Hi... I have a problem with clearing input after selecting any item. In works in browser but not on the device... I call clearValue function on itemSelected event...

This is how I call a function when an item is selected:
`(itemSelected)="addRecipient($event)"`

and this is the function I call on itemSelected event:
`addRecipient(recipient: RecipientInterface) {
    this.selectedRecipients.push(r

[2017-03-07 13:45] DarioPescatore commented on #8
Hi, I still have the same issue, even with the version rc5.

"Error: Unexpected value 'AUTOCOMPLETE_DIRECTIVES' declared by the module 'AppModule'"

Anyone who have found a solution?

[2017-03-07 18:18] jddev14 opened #15 "Module '".../ionic2-auto-complete/dist/index"' has no exported member 'AutoCompleteItemComponent'."
i seem to keep getting this error, is am i doing anything wrong?
      Module '"C:/Users/JonathanD/shoppy_v0.0.2/node_modules/ionic2-auto-complete/dist/index"' has no exported
            member 'AutoCompleteItem'.

       L1:  import { AutoCompleteItem ,AutoCompleteItemComponent ,AUTOCOMPLETE_PIPES} from 'ionic2-auto-complete';

            Module '"C:/Users/JonathanD/shoppy_v0.0.2/node_modules/i

[2017-04-05 05:29] luckyboy07 opened #16 "Set initial value"
can we set initial value? if yes, can you give us an example? thanks

[2017-04-07 08:42] conorw opened #17 "Expose search event"
Hi, Love this plugin.
Would there be any way of exposing the search event on the searchbar i.e. when the user clicks search or presses enter?
The reason I'm asking is that I do not want to search as the user is typing, only when they are finished. I currently cannot see a way to do this other than the template exposing the search event.

[2017-04-07 09:16] conorw commented on #17
Apologies, this can be achieved by listening to keyp and click events, e.g.:

<ion-auto-complete  [dataProvider]="askService" (itemSelected)="getAnswer()" (click)="getAnswer()" (keyup.enter)="getAnswer()"
        #searchbar ></ion-auto-complete>

Closed.

[2017-04-07 09:16] #17 closed

[2017-04-13 18:23] sasokovacic opened #18 "npm ERR! ionic2-auto-complete@1.3.1 postinstall: typings install"
Hi, I created ionic 2 app about 2 months ago... Now I want to upgrade it to ionic 3 but I can't because I can't install your plugin... I get the following error:
...
npm ERR! ionic2-auto-complete@1.3.1 postinstall: `typings install`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the ionic2-auto-complete@1.3.1 postinstall script 'typings install'.
npm ERR! Make sure you have the latest version o

[2017-04-13 18:53] sasokovacic commented on #18
Sorry... just saw another issue with same error and fixed it... I thought it is somehow connected to the upgrade of ionic because before the upgrade I could install without a problem.

[2017-04-13 18:53] #18 closed

[2017-04-16 22:01] kadoshms commented on #13
Please check in the new version :)

[2017-04-16 22:01] #13 closed

[2017-04-16 22:01] kadoshms commented on #6
Fixed

[2017-04-16 22:01] #6 closed

[2017-04-16 22:06] kadoshms commented on #11
@zeroseed each entry is actually the object associated with the option within the implemented service.
That means, that there is no a "value" attribute, but any property associated with the options is reflected and is accessible.

[2017-04-16 22:06] #11 closed

[2017-04-16 22:07] kadoshms commented on #8
Please check in the new version (1.4.0).
Iv'e just tested in my own Android device and it looked fine.

[2017-04-16 22:07] #8 closed

[2017-04-16 22:12] kadoshms commented on #15
Please check in the new version.

[2017-04-16 22:12] #15 closed

[2017-04-16 22:13] #12 closed

[2017-04-16 22:20] kadoshms commented on #16
Changed in f670bb26aaba21dd12dc91c22f7d88b7169bbc1c

You can now inject an initial value, by binding [keyword]:

`  <ion-auto-complete [dataProvider]="autoCompleteService" [keyword]="'some value'" (itemSelected)="getVal($event)" [options]="{ placeholder: 'type a country name' }"></ion-auto-complete>
`

[2017-04-16 22:20] #16 closed

[2017-04-24 12:35] brunosmartin opened #20 "Build fail"
This is the easy way to reproduce, but when I run ionic build android --build --release I have the same error.

[code]

[2017-04-24 12:37] brunosmartin opened #21 "add a licence"
If it is a free software, I would like to contribute.

[2017-04-24 13:26] kadoshms commented on #21
Please feel free to contribute, I'll add the license ASAP

[2017-04-24 13:33] brunosmartin commented on #21
Well, to be honest, we already started! ;-) we made some hacks to make it work on angular2 and add some events from ionic's search bar.

https://github.com/virgilio/ionic2-autocomplete/tree/angular2

What about keep a version angular2/ionic2 compatible? I think the code on master branch works fine on angular2, but we have changed package.json to install on ionic2 app.

[2017-04-24 15:45] mosca90 commented on #21
@brunosmartin what the difference between this and yours version? 👍

[2017-04-24 20:19] kadoshms commented on #21
Added license

[2017-04-24 20:19] #21 closed

[2017-04-24 20:42] kadoshms commented on #20
Could you please attach your `ionic info` ?

[2017-04-25 10:20] cocowalla opened #23 "Search results not visible"
I've configured things as in the readme, and have getResults returning a static array of objects for testing.

However, the search results are not being displayed. I don't see any errors in the console logs.

Any idea what could be wrong here?

[2017-04-25 10:25] kadoshms commented on #23
Can you please provide some more information?
Maybe your service and component code?

[2017-04-25 10:42] cocowalla commented on #23
Sure. The service:

[code]
Which is injected into the ctor of the component:

[code]
And finally how it's used in HTML:
[code]

If it helps, I'm on Ionic 3 with Angular 4. Everything builds OK for Android, so no Typescript syntax issues.

[2017-04-25 14:03] kadoshms commented on #23
Using Ionic 3 and Angular 4 as well, but everything seems to work fine (I used your code):

![screenshot from 2017-04-25 17 00 59](https://cloud.githubusercontent.com/assets/5352933/25389369/0f3edda2-29d9-11e7-8ad6-52988f0ace07.png)

[2017-04-25 14:30] cocowalla commented on #23
Weird. I've gone over it several times and everything _seems_ to be correct, but I must be missing something.

I've gone ahead and implemented my own solution, but I'll give this another try next time I need auto complete functionality.

[2017-04-25 14:30] #23 closed

[2017-04-25 14:38] kadoshms commented on #23
@cocowalla please contact me for further assistance kadoshms@gmail.com, I am curious about your problem.

[2017-04-27 03:53] rkmahale17 opened #24 "what if i dont wanna use labelAttribute ?"
{
    "response_code": 200,
    "total": 23,
    "train": [
        "SHARAVATHI EXP (11035)",
        "SHARAVATI  EXP (11036)",
        "SHAKTIPUNJ EXP (11447)",
        "SHAKTIPUNJ EXP (11448)",
        "SHANE PUNJAB (12497)",
        "SHANE PUNJAB (12498)",
        "SHALIMAR EXP (14645)",
        "SHALIMAR EXP (14646)",
        "SHAHEED EXPRESS (14673)",
        "SHAHEED EXP (14674)",
        "S

[2017-04-27 07:39] asapping99 opened #25 "Template parse error!!"
![image](https://cloud.githubusercontent.com/assets/10718850/25472797/ceae32b6-2b67-11e7-8a83-2b917accfc6b.png)

You must remove the value attribute from 'ion-searchbar'.

[2017-04-27 10:49] mosca90 opened #26 "Data from promise not showing"
Using static data works fine and same with Observable, like your example.
But when I try to receive data from our backend using **Promise**, did not works.

[code]

What I have to change?
Thx!

[2017-04-27 14:09] mosca90 opened #27 "templateUrl can't find html page"
Custom template.
**comp-test-item.ts file:**
[code]
**comp-test-item.html**
`test: <span [innerHTML]="data.name| boldprefix:keyword"></span>`

Give this error:
GET http://172.16.0.167:8100/comp-test-item.html 404 (Not Found)
Unhandled Promise rejection: Failed to load comp-test-item.html ; Zone: <root> ; Task: Promise.then ; Value: Failed to load comp-test-item.html undefined

Which address the pl

[2017-04-27 14:38] mosca90 commented on #26
This is working.
[code]

[2017-04-27 14:39] #26 closed

[2017-04-29 09:45] kadoshms commented on #24
Fixed in [f8cb7f529fda4f2e4fcb24fc500dedc1dbeaf6fe](https://github.com/kadoshms/ionic2-autocomplete/commit/f8cb7f529fda4f2e4fcb24fc500dedc1dbeaf6fe).

(new version will be uploaded soon)

[2017-04-29 09:45] #24 closed

[2017-04-29 09:48] kadoshms commented on #25
How can I reproduce this issue?

[2017-04-29 13:04] kadoshms commented on #27
Currently `templateUrl` is not supported (use template instead)
 Updating the docs.
Thanks for your assitance!

[2017-04-29 13:04] #27 closed

[2017-04-30 19:08] iSURUAVISHKA commented on #25
I am having same problem. "Template parse errors"

[2017-04-30 19:24] kadoshms commented on #25
Please share the output of your ionic info

[2017-05-01 04:07] rkmahale17 opened #28 "Get value from viewChild searchbar is not getting"
cause error of getValue is undefine

code is like

@ViewChild('searchbar') searchbar: any;
and calling function
 console.log(this.searchbar.getValue());
in autocomplete.componenent.ts

 public getValue() {
  this.keyword
  return
  }

}
in <ion-autocomplete #searchbar></ same>

[2017-05-01 06:12] kadoshms commented on #28
I am not sure I am following (the code is a little bit messy to understand :) )
Anyways, Iv'e checked it up and everything looks fine:

my home.ts:

[code]

And my home.html:

[code]

[2017-05-01 06:12] #28 closed

[2017-05-01 07:01] sguddati opened #29 "Installation issue"
When I install ionic2-autocomplete with npm, and do the ionic serve, getting following issue. Any suggestion please?? I am relatively new to ionic2.
------------------

[01:58:08]  typescript: ...omplete/node_modules/ionic-angular/components/virtual-scroll/virtual-scroll.d.ts, line: 220
            Type 'IterableDiffer' is not generic.

     L219:  private _dom;
     L220:  _differ: IterableDiffer

[2017-05-01 07:03] kadoshms commented on #29
What version of TypeScript do you have installed on your system?
Please also share your `ionic info` output.

[2017-05-01 07:12] sguddati commented on #29
Below is the ionic info

----------
Cordova CLI: 6.5.0
Ionic Framework Version: 2.2.0
Ionic CLI Version: 2.2.3
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.1.4
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Windows 10
Node Version: v6.10.2
Xcode version: Not installed
----------------------
package.json is as below

{
  "name": "Test",
  "author": "Test",
  "home

[2017-05-01 07:18] sguddati commented on #29
Below is the ionic info
Cordova CLI: 6.5.0
Ionic Framework Version: 2.2.0
Ionic CLI Version: 2.2.3
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.1.4
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Windows 10
Node Version: v6.10.2
Xcode version: Not installed
package.json is as below{
"name": "Test",
"author": "Test",
"homepage": "http://www.myserver.com",
"private"

[2017-05-01 07:21] iSURUAVISHKA commented on #25
![ceae32b6-2b67-11e7-8a83-2b917accfc6b](https://cloud.githubusercontent.com/assets/20269703/25574515/cadf0ebe-2e6c-11e7-9b76-9aaa00ac8755.png)

[2017-05-01 07:30] iSURUAVISHKA commented on #25
![untitled](https://cloud.githubusercontent.com/assets/20269703/25574673/21502db8-2e6e-11e7-96eb-010a4d605f37.jpg)

[2017-05-01 07:32] kadoshms commented on #29
Ok, it seems like your Ionic version is far behind, but let's see if my latest commit helps.
commit 33b2f3ab8b951675f9d0d11f1dd631531091c3e8

Please uninstall and install rc1 instead:
`npm uninstall --save ionic2-auto-complete`

And then:
`npm install --save ionic2-auto-complete@1.4.2-rc1`

[2017-05-01 07:55] kadoshms commented on #25
[0f17c9acd0ae4cd8c6a772b5513720c8222d33e4](https://github.com/kadoshms/ionic2-autocomplete/commit/0f17c9acd0ae4cd8c6a772b5513720c8222d33e4)
I removed the [value] binding in rc2 (please uninstall the plugin and re-install `npm install --save ionic2-auto-complete@1.4.2-rc2`).

If you want to set a default value, please refer to https://github.com/kadoshms/ionic2-autocomplete/issues/16

Let me know i

[2017-05-01 07:56] sguddati commented on #29
it worked .. thank you .. 
Srinivas.

      From: Mor Kadosh <notifications@github.com>
 To: kadoshms/ionic2-autocomplete <ionic2-autocomplete@noreply.github.com>
Cc: sguddati <sguddati@yahoo.com>; Author <author@noreply.github.com>
 Sent: Monday, May 1, 2017 2:32 AM
 Subject: Re: [kadoshms/ionic2-autocomplete] Installation issue (#29)

Ok, it seems like your Ionic version is far behind, but let's

[2017-05-01 07:56] #29 closed

[2017-05-01 08:01] sguddati commented on #29
Any way to associate this auto complete to a input/select field instead of searchbar?
Srinivas.

      From: sguddati <sguddati@yahoo.com>
 To: kadoshms/ionic2-autocomplete <reply@reply.github.com>; kadoshms/ionic2-autocomplete <ionic2-autocomplete@noreply.github.com>
Cc: Author <author@noreply.github.com>
 Sent: Monday, May 1, 2017 2:53 AM
 Subject: Re: [kadoshms/ionic2-autocomplete] Installation

[2017-05-01 08:27] kadoshms commented on #29
@sguddati no, the all point of this plugin is that it based on this component :)
I believe that there are other similar plugins, that are not neccessarly based on ionic.

[2017-05-01 09:46] iSURUAVISHKA commented on #25
It works. Thank you for you help!!!

[2017-05-01 10:12] #25 closed

[2017-05-02 04:07] sguddati commented on #29
Any suggestions on a good plugin for this purpose? I am trying to make ion-input field to be having the auto complete
Srinivas

      From: Mor Kadosh <notifications@github.com>
 To: kadoshms/ionic2-autocomplete <ionic2-autocomplete@noreply.github.com>
Cc: sguddati <sguddati@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Monday, May 1, 2017 3:27 AM
 Subject: Re: [kadoshms/ionic2-autocompl

[2017-05-02 11:36] kadoshms commented on #29
I'd suggest you to fork this repository and simply change the component. should be easy. your'e welcome to ask me questions

[2017-05-02 20:47] sguddati commented on #29
Tried doing it and not able to get it working. Ending up with lot of issues in controlling the layout. 
Can I request you to create a version of this that has support for <ion-input>?
Rest of my form is having fields like below with floating labels. 
           <ion-item>         <ion-label floating>{{options.placeholder}}</ion-label>         <ion-input formControlName="country"></ion-input>     <

[2017-05-03 05:57] sguddati commented on #29
After some struggle got it working.  But the styles are not working in safari or ios smartphone. Same code is working on chrome. It is happening with searchbar component that you provided with no changes. I will open another issue to avoid any confusion

[2017-05-03 05:59] sguddati opened #30 "Feature request: add an option to use `ion-input` instead of `ion-searchbar`"
When the user types in values in search text, drop down values are not appearing in Safari or iPhone. Same app is working fine on Chrome. Looks like the styles are not working in iOS based browsers. Can you verify please?

[2017-05-03 10:42] callym commented on #20
I get the same error using 1.4.2-rc2

[code]

[code]

[2017-05-03 19:08] kadoshms commented on #30
I can't confirm this issue, Iv'e  just tested with iOS emulator (to be more specfic I used iPad-Air, ios 10.1) and it worked just fine.
Also tested in Safari and it worked as well :)

Did you validate your data provider?

[2017-05-03 19:38] sguddati commented on #30
I am able to see the data with Chrome, but not with Safari. I will check again.

Sent from my iPhone

[2017-05-04 05:07] sguddati commented on #30
I can confirm that it is not the issue with the component. It is working with local data and not with remote provider call. But interestingly the remote call is working in chrome, but not in safari. Something to do with CORs in safari, I believe that is not fetching the data. Thanks for your help. 
As I requested before, if you can create ion-input component, it will be a great addition. For now,

[2017-05-04 06:36] kadoshms commented on #30
I will add this feature to the next release!

[2017-05-05 09:03] MonsieurMan opened #31 "Use different AutoCompleteItem"
If I understand it right, as of know we can only customize one AutoCompleteItem and have to use it for all the AutoComplete component ?
Or is there a way to create multiple items and use them for different AutoComplete component ?
If not I'd like to work on the feature.

[2017-05-05 10:09] kadoshms commented on #31
You are totally right. As for now (and by design) it is only possible to have a single template.

You are VERY welcome to work on it :)

[2017-05-05 10:09] #31 closed

[2017-05-05 14:00] MonsieurMan commented on #31
I managed to change the item with a custom directive.
As of now the usage is :
`<ion-auto-complete [autoCompleteItem]="itemComponent"></ion-auto-complete>`

There's a few things I'm not happy with so it's not pushed on my fork yet.
I'll keep you updated by this weekend.

[2017-05-06 16:44] dm-grinko opened #32 "The duplicate in docs"
import {AutoCompleteService} from 'ionic2-auto-complete';
import { Http } from '@angular/http';
import {Injectable} from "@angular/core";
import {AutoCompleteService} from "ionic2-auto-complete";
import 'rxjs/add/operator/map'

[2017-05-06 18:40] kadoshms commented on #32
Thanks

[2017-05-06 18:40] #32 closed

[2017-05-07 01:36] sguddati opened #33 "How do we pass context parameters to the Service?"
In my scenario, I have to provide auto complete of States based on country already selected by the user in the field above. Current Service takes keyword only and not the context before. Anyway to cover this scenario?

[2017-05-08 07:18] kadoshms commented on #33
You can do even something more simple.

Lets assume I have an auto-complete component that uses the following service, and gives me a list of groceries types:

`import {Injectable} from "@angular/core";
import {AutoCompleteService} from "ionic2-auto-complete";
import 'rxjs/add/operator/map'

export interface MyType {
  name: string;
  value: number;
}

const types = [
  'Fruits',
  'Vegetables',

[2017-05-08 12:48] kadoshms commented on #33
I am closing this issue for now, please notify me if this solution is not enough.

[2017-05-08 12:48] #33 closed

[2017-05-08 19:51] snpefk opened #35 "[Question] Move searchbar cursor to the end of the line on focus"
Hi, thx for your component.

Can you help me figure out how i can move carret to the end of the searchbar input? I can't find answers in the component or official docs.

[2017-05-08 20:42] kadoshms commented on #35
I am sorry but I'm not sure I understand your question :)
Are you talking about the cancel button?

[2017-05-09 06:32] snpefk commented on #35
I'm talking about cursor. Sorry to mislead you.
![text_cursor_blinking_larger](https://cloud.githubusercontent.com/assets/2883201/25838082/7352df5e-34bb-11e7-88ef-dfac8e7fcfa9.gif)

I want the cursor move to the end of keyword string on searchbar focus.
Now you understand?

[2017-05-09 09:37] MonsieurMan commented on #31
After hours of struggle I think it won't be possible.
The problem is that Ionic uses AOT compilation that makes it impossible to dynamically load a component.

[2017-05-09 10:33] kadoshms commented on #31
Thanks for your attempt!
you are very welcome to contfibute in fhe future :)

[2017-05-09 13:29] kadoshms commented on #35
Hey,
Unfortunately, this component relies on the ionic's `ion-searchbar` component, which has no such feature out of the box.
I will consider to find a proper solution for this issue in the next release.

Thanks for your feedback!

[2017-05-09 13:29] #35 closed

[2017-05-10 06:49] abraxxas opened #36 "Get old value of input on select"
This is not really a issue, but more of a question. Is there any way to get the value of the input upon select before it gets replaced with what i selected(e.g. what i used to search)?

[2017-05-10 07:00] abraxxas commented on #36
Nevermind this is super easy using the ionAutoInput event. Sorry for the bother

[2017-05-10 07:00] #36 closed

[2017-05-10 23:38] claudiomoratti opened #38 "Problem compiling with ionic 3"
Hi,
I'm trying to compile my app (ionic 3 app), but I have this problem:

`[01:34:15]  ngc started ...
[01:34:17]  ionic-app-script task: "build"
[01:34:17]  Error: Unexpected value 'AutoCompleteItemComponent in
            /Users/claudio/Progetti/xxx/node_modules/ionic2-auto-complete/src/autocompleteitem.component.ts'
            declared by the module 'AutoCompleteModule in
            /Users/cl

[2017-05-11 05:45] kadoshms commented on #38
Thanks, I will look into that ASAP

[2017-05-11 09:04] KyleMcNutt commented on #20
I'm also seeing this same error:

[code]

[2017-05-11 10:36] KyleMcNutt commented on #20
From what I can tell, an `AOT` build doesn't like the use of the `AutoCompleteItem` decorator in order to set the template. I removed that decorator and just had it be a plain `Component` with just the default template (which is all I needed in my case) and this error went away.

[2017-05-11 10:52] kadoshms commented on #20
@KyleMcNutt your'e probably right.
I am planning to remove this feature (and use the plain old Component) in the next release (in this weekend).
This is a remnant from the days before AOT....

[2017-05-11 12:05] dm-grinko opened #39 "click event fires twice on ios devices"
I have spend a lot of time to find solution.
This closed issue helped me to understand that problem is in your plugin.
https://github.com/driftyco/ionic/issues/10520

By the way All works good with browser and with android

[2017-05-11 22:40] KyleMcNutt commented on #20
@kadoshms Sounds good, looking forward to the next release.

[2017-05-12 09:31] kadoshms commented on #20
Fixed in abb818bc5d20491fdfc2475c4c28d1abd8b76478 and published as version 1.4.3-beta.

[2017-05-12 09:31] #20 closed

[2017-05-12 09:32] kadoshms commented on #38
Fixed, see #20

[2017-05-12 09:32] kadoshms commented on #39
Fixed in 1.4.3-beta (commit b81f56b4d269d731b84a1e6c3d900a1825988cca)

[2017-05-12 18:42] KyleMcNutt commented on #20
@kadoshms This worked great! Thanks for the quick update!

[2017-05-13 17:54] KyleMcNutt opened #40 "Feature request: When a user initially clicks on the searchbar, the autocomplete displays all possible options."
For scenarios where you don't have _that_ many options it's actually useful to be able to see the different options before you input, so you know the options that are hopefully going to return _some_ results.

I believe that right now this if check:
https://github.com/kadoshms/ionic2-autocomplete/blob/master/src/autocomplete.component.ts#L77

Would prevent that because the keyword is empty on init

[2017-05-13 18:20] kadoshms commented on #40
Yes, why not, I can totally add this feature soon.

[2017-05-15 09:34] dm-grinko commented on #39
thank you

[2017-05-15 13:09] dm-grinko commented on #39
Unfortunately you don't fixed it

[2017-05-15 13:17] kadoshms commented on #39
Can you please elaborate more?
How can I reproduce this?
When I tested on an iOS simulator, it didn't fire twice.

[2017-05-15 13:36] kadoshms commented on #39
Anyway, is there a way to reproduce this bug?

[2017-05-15 15:54] kadoshms commented on #39
@dm-grinko I pushed a possible fix to the issue df59bfbc20365fb7ee57c27693e61fc20061c90b
Since I could not reproduce this issue myself, could you please try to apply this change in your project?
(You can do that by cloning this repo, switching to branch `fix-#39` ,running `npm run prepublish`, and copying the whole directory to your `node_modules`, or simply download the attached file).

If this w

[2017-05-15 17:43] cwang2002 opened #41 "getting syntax error when running in emulator"
![screenshot from 2017-05-14 11 17 37](https://cloud.githubusercontent.com/assets/5000750/26070928/611b2f40-3974-11e7-98d8-6c4dbded1481.png)
Is this because you have compile target to ES6?

[2017-05-15 18:26] kadoshms commented on #41
@cwang2002 I am not sure what I am looking at :eyes:
How are you running your project?

[2017-05-15 20:03] cwang2002 commented on #41
I was running it in android emulator and use chrome inspector to debug the issue. the main.js has ES6 syntax in it.
The code works fine with ionic serve and on my nexus 6 device, just the emulator having the issue.

[2017-05-15 20:29] claudiomoratti commented on #38
ciao Mor,
thank you for this fix, but I'm sorry to inform you that there are other issues with ionic 3.

I made some tests, and I found this situation:
- with @ionic/app-scripts >= 1.3.5 the build with --prod options fails with the following error:

`Error: ./~/ionic2-auto-complete/index.ts
Module build failed: TypeError: Cannot read property 'content' of undefined
    at Object.optimizationLoader

[2017-05-15 23:09] kadoshms commented on #41
I am not sure what causes that..
can you please try to compile to es5 and let me know if that works?

[2017-05-16 09:33] kadoshms commented on #38
Thanks for reporting, I hope to take a look at it soon, do you have any ideas anyway?

[2017-05-16 14:38] FiXIDeA commented on #38
A similar problem:
ionic cordova run android --prod --release
Running app-scripts build: --prod --address 0.0.0.0 --port 8100 --p 8100 --livereload-port 35729 --r 35729 --iscordovaserve --externalIpRequired --nobrowser

[22:23:23]  build prod started ...
[22:23:23]  clean started ...
[22:23:23]  clean finished in 2 ms
[22:23:23]  copy started ...
[22:23:23]  ngc started ...
[22:23:28]  ngc finishe

[2017-05-16 20:41] kadoshms commented on #38
@claudiomoratti @FiXIDeA I have a fix! please stay patient a little more :)

[2017-05-16 21:42] claudiomoratti commented on #38
great! don't worry, If you need tests feel free to write me

[2017-05-16 22:08] kadoshms commented on #38
@claudiomoratti @FiXIDeA

Would you mind trying this one: `npm install --save ionic2-auto-complete@1.4.0-fix-to-38` I haven't commited yet because I want to know if I'm on the right path.
I tested on my ubuntu and it seemed fine, can you please lete me know if it works for you too?

[2017-05-16 22:43] claudiomoratti commented on #38
@kadoshms It works!

I have had to change the include line in app.scss to
`@import "../../node_modules/ionic2-auto-complete/auto-complete";`
'cause of new structure of sources.

I tested both with @ionic/app-scripts  1.3.7 and 1.3.4, with the same result!

thank you for your work

[2017-05-16 22:51] kadoshms commented on #38
@claudiomoratti yeah I forgot to mention that sorry :)

Im closing the issue and will publish this fix soon.

[2017-05-16 22:51] #38 closed

[2017-05-17 08:29] kadoshms commented on #39
Fixed and will be publish on next release.

[2017-05-17 08:29] #39 closed

[2017-05-17 09:45] MattijsE commented on #38
@1.4.0-fix-to-38 did indeed fix the issue (+ changing the SSCC import)
When can we expect this to be committed into the master?
This branch was for 1.4.0, but the current version is 1.4.3

[2017-05-17 09:59] kadoshms commented on #38
I am aware of that, it was an innocent typo.
I am working on a much more stable version with some more features, stay tight :)

[2017-05-17 15:27] kadoshms commented on #31
@MonsieurMan I am happy to tell you that Iv'e found a good solution to this scenario, using `ngTemplateOutlet`.
I will release this feature on the upcominfg `1.5.0` :)

[2017-05-17 15:58] kadoshms commented on #40
Added (4884ce0da0174047beb15f20a16861b023305bad)

[2017-05-17 15:58] #40 closed

[2017-05-17 20:04] kadoshms commented on #30
added to `1.5.0-beta` a55e300b3d1b2e5a71273fccb7262fc5ad644933

[2017-05-17 20:04] #30 closed

[2017-05-19 12:15] kadoshms commented on #41
This does not reproduce on `1.5.0-beta`. I did change the compile target to es5, it might be the reason.

[2017-05-19 12:15] #41 closed

[2017-05-27 10:54] rkmahale17 opened #42 "How to call function after data is selected ?"

[2017-05-27 12:55] kadoshms commented on #42
As described in the docs, you can bind the `itemSelected` event to the component.
Example:

`<ion-auto-complete [itemSelected]="doSomething($event)" ..... ></ion-auto-complete>`

[2017-05-27 13:51] rkmahale17 commented on #42
I tired that solution but it's giving me error....

polyfills.js:3 Unhandled Promise rejection: Template parse errors:
Can't bind to 'itemSelected' since it isn't a known property of 'ion-auto-complete'.
1. If 'ion-auto-complete' is an Angular component and it has 'itemSelected' input, then verify that it is part of this module.
2. If 'ion-auto-complete' is a Web Component then add 'CUSTOM_ELEMENT

[2017-05-27 14:12] kadoshms commented on #42
Please post your code

[2017-05-27 14:21] rkmahale17 commented on #42
1. seat.html
2. <ion-header>
3. <ion-navbar color="primary">
4. <button menuToggle>
5. <ion-icon name="menu"></ion-icon>
6. </button>
7. <ion-title>
8. Seat Availability
9. </ion-title>
10. </ion-navbar>
11. </ion-header>
12.
13. <ion-content class="has-header">
14. <br>
15. <ion-auto-complete [dataProvider]="autoForSeat" [itemSelected]="ionicViewData($event)"  #searchbar ></ion-auto-complete>
16.

[2017-05-27 14:26] rkmahale17 commented on #42
seat.js

import { Component, ViewChild, ElementRef } from '@angular/core';
import { NavController, Platform } from 'ionic-angular';
import { railwayService } from '../../services/rlwyServices';
import { autoForSeat } from '../../services/autoForSeat';
import {AutoCompleteComponent} from "ionic2-auto-complete/dist";
import { Geolocation } from '@ionic-native/geolocation';
import {trainStatus} from

[2017-05-27 14:41] kadoshms commented on #42
what version of the plugin are you using?

[2017-05-27 14:44] rkmahale17 commented on #28
ionic2-auto-complete@1.4.2-rc0

[2017-05-27 15:30] kadoshms commented on #28
@rkmahale17 I believe that this is not the same issue we were talking about

[2017-05-27 15:37] rkmahale17 commented on #28
No this is not that  issuse , after upgrating to ionic2-auto-complete@1.4.2-rc0.....label attribute issue solved ..but this function calling is not happening......

[2017-05-27 15:38] kadoshms commented on #42
@rkmahale17 I would first recommend you to upgrade the plugin (1.5.0-beta  is available).

Secondly, I you should bind the event this way (I edited my previous post):
`<ion-auto-complete (itemSelected)="doSomething($event)" ..... ></ion-auto-complete>`

I by mistake confused between the two ways of binding ( it should be '()' and not '[]')

[2017-05-27 15:38] kadoshms commented on #28
@rkmahale17 please review my latest comment in #42

[2017-05-27 15:43] rkmahale17 commented on #28
Yes.... it is working....
Thank You so much......

[2017-05-27 15:47] #42 closed

[2017-05-29 13:05] dd-here opened #43 "Set focus on the ion-search bar"
Need to set focus on the ionic2-autocomplete control.
setFocus() of ion-searchbar is not working.

Please prvide some light on this.

[2017-05-29 13:09] dd-here opened #44 "searching indication while getting the search results"
show a searching indication while the search api returns the result set.

Do we have any option to show such indication

[2017-05-30 16:04] callym opened #45 "Runtime Error: Invalid regular expression"
When you have a keyword in the search box that has an unclosed bracket in, you get the error:

[code]
This is being thrown from the BoldPrefix.transform method.

[2017-05-30 19:25] rkmahale17 opened #47 "Using ion-auto-complete two times one is not working"
<ion-auto-complete [dataProvider]="stationAuto"  (itemSelected)="ionicViewData($event)" #searchbar></ion-auto-complete>
  <ion-auto-complete [dataProvider]="stationAuto" (itemSelected)="ionicViewData1($event)" #searchbar></ion-auto-complete>

i call two ion-complete for selecting source and destination. Autocomplete list is comming for both but things is secound declare ion-complte cause keyword t

[2017-05-30 19:53] #45 closed

[2017-05-30 20:03] kadoshms commented on #47
You are referencing two objects with the same reference (you used #searchbar for both components).
Anyway, the first argument of the itemSelected event is the selected item, which means that you can skip this viewchild refernece and simply do something similar to this:
[code]

[2017-05-31 03:04] rkmahale17 commented on #47
I use  this................
ionicViewData(from){
     this.from=from;
     console.log(this.from);
     this.stNameToCode.getPosts(this.form);
}
in form only $event is getting which is [object object]
and apply this thing for secound ion-auto-complete ....

[2017-05-31 06:47] kadoshms commented on #47
This objectct is the object associated with the selected item.
You can console.log it and see how to access the data you need.

[2017-05-31 14:38] rkmahale17 commented on #47
Are you saying this is json like structure data............in which i have to extract data
ionicViewData(from){
     this.to = from;
        console.log( from  +"##########")
  //  this.stNameToCode.getPosts(this.from);

 //console.log(this.completeTestService.searchbar );

}

but, man i should know, whats the key to extract like
For Example:-
 "route": [
        {
            "no": 1,

[2017-05-31 15:00] kadoshms commented on #47
@rkmahale17 I am not sure I understand the issue nor the issue with the plugin.
The auto-complete data provider (in your case stationAuto) is responsible for fetching the data and providing it in a form of an array of elements (could be plain strings, objects, numbers, or whatever you decide).
The `labelAttribute` in the case of object elements helps the component with displaying the data.
In your

[2017-05-31 17:12] kadoshms commented on #38
@kamok thanks

[2017-05-31 20:07] KrishnaPrasadSS opened #48 "After APK in Tablet its throwing an error"
After APK Installation we are getting below error
Uncaught SyntaxError: missing ) after argument list
below code is from auto complete.component.ts
if (result instanceof rxjs_1.Observable) {
        result
          .subscribe(
              (results) => {
                this.suggestions = results;
                this.showItemList();
              },
              (error) =>  console.error(error

[2017-05-31 20:52] kadoshms commented on #48
What version of the plugin are you using?

[2017-05-31 20:52] #14 closed

[2017-06-01 09:51] KrishnaPrasadSS commented on #48
We are using version number 1.4.2

[2017-06-01 09:54] KrishnaPrasadSS commented on #48
To add,  it's working fine in browser but after I covering it to apk it's throwing that error,
Is this some thing related to es6 to es5 transpile?

[2017-06-01 09:58] kadoshms commented on #48
Yes, it is probably it.
can you pleade upgrade to 1.5.0-beta and let me know if that worked?
* just make sure you follow the new readme file

[2017-06-01 09:58] kadoshms commented on #48
Yes, it is probably it.
can you pleade upgrade to 1.5.0-beta and let me know if that worked?
* just make sure you follow the new readme file

[2017-06-01 09:58] kadoshms commented on #48
Yes, it is probably it.
can you pleade upgrade to 1.5.0-beta and let me know if that worked?
* just make sure you follow the new readme file

[2017-06-02 03:46] kadoshms commented on #48
@KrishnaPrasadSS can you confirm?

[2017-06-02 03:47] kadoshms commented on #47
Since it is not a plugin related issue, I am closing this for now.

[2017-06-02 03:47] #47 closed

[2017-06-02 14:39] opaltitan opened #49 "documentClickHandler causing runtime error in browser"
I have only tested this in the browser (with 'ionic serve'), so it's unclear if this issue is present in a built Android/iOS app.

If you click within the browser, then drag the cursor outside of the browser (or even into the address bar or tabs) the app crashes with a runtime error.

I think the following lines of code ('ionic2-auto-complete\index.js'):

need to be updated to this:

Changing to t

[2017-06-03 09:06] KrishnaPrasadSS commented on #48
Hi sorry for delay,
I am getting ng-templet  error which upgrade to 1.5.0 beta
Also I tried after adding ng-templet plug in but still getting error

I am planing to keep same version but change target to es5 in tsconfig file

Please share your thoughts and let me know is there any thing else I need to do to get it worked with upgrade version 1.5.0 beta

[2017-06-03 09:11] kadoshms commented on #48
Maybe your angular version is out of date?
Please share your package.json file :)

Anyway, I'd be glad to hear from you how changing the compile target worked for you.

[2017-06-03 12:29] kadoshms commented on #49
Fixed in 6b012da943ee30ff6126ac96ea1fde4afcac586e
(will be available in the next release)

[2017-06-03 12:29] #49 closed

[2017-06-03 14:46] KrishnaPrasadSS commented on #48
Hi,
Please find the attached package.json and let me know your thoughts
[package.zip](https://github.com/kadoshms/ionic2-autocomplete/files/1049654/package.zip)

[2017-06-03 15:07] kadoshms commented on #48
@KrishnaPrasadSS yes indeed, your angular version is 2.2.1 while the current version supported by the latest ionic version is > 4.0.0.
I should update the docs.
Anyway, do you have any insight about changing the compile target?

[2017-06-07 03:38] centogram opened #50 "labelAttribute function?"
Is it possible to format the final search string rather than just using a named attribute?

For example a combination of 2 fields from the resulting object?

[2017-06-07 07:25] kadoshms commented on #50
You can always create a custom template, which gives you the ability to fully customize the results.
See the README for more info.

[2017-06-07 07:25] #50 closed

[2017-06-07 11:49] centogram commented on #50
Thank you for the quick reply.  Yes, I've noticed the results are fully customizable but the actual search string after selecting a result is what we're trying to customize more than just labelAttribute.  We would like to continue using the entire Object returned when labelAttribute is undefined but also customize the search string query after clicking the result.  For example see the attached ima

[2017-06-07 14:14] centogram commented on #50
I was able to achieve this by doing a .setValue  on the autoCompleteComponent following the itemSelected event.

[2017-06-11 20:48] danwguy opened #51 "minimum char count to start search"
First off, this is absolutely awesome, thank you! A quick feature that could be great is making a minLevel or minCharCount to start the search. That way, when you have to make an expensive api call to get results you aren't making it when there's only 1 or 2 characters in the search bar. I know it's possible to just check the length of the string in the getResults method, but if it were built in i

[2017-06-12 08:45] kadoshms commented on #51
Cool, I will totally consider it.

[2017-06-12 09:04] kadoshms commented on #48
I am closing this for now.
Let me know if this problem occurs in later versions.

[2017-06-12 09:04] #48 closed

[2017-06-12 09:08] KrishnaPrasadSS commented on #48
Hi,
I imported the code into my project instead from node modules it worked and thank you very much for the code and all the hard work.

I am sure it will work if we changed to es5 as target though I did not tries.

I used old version 1.4.2 it fulfilled all my reuqirements

Keep rocking

Thanks,
Krishna

[2017-06-13 14:46] HaithemMosbahi opened #52 "Using RxJS Subject as a return type of getResults method"
Hello,

First of all, thank you for this component, well done.
I'm using ionic2-autocomplete in combination with google Places API. I'm doing a call to this api in order to fetch predections for the input entered by the User.
To achieve this, I'm using rxjs Subject which allows me to emit values when the response of the API has been returned. However, the getResults method supports wether to retur

[2017-06-13 17:08] kadoshms commented on #52
Yes I can totally check this out.

[2017-06-13 20:32] HaithemMosbahi commented on #52
Ok :) I will create a pull request for this feature

[2017-06-16 14:52] bushybuffalo opened #53 "Feature request: ngModel"
Hey,

I'd like to use the ngModel directive on the ion-auto-complete tag, as it is available on ion-searchbar and ion-input, but it seems not to be implemented (i.e., I get the following error when setting this directive: "No value accessor for form control with name: 'foo' ")

I would be really grateful if you could make this possible !

[2017-06-16 14:59] kadoshms commented on #53
@bushybuffalo could you please give more details about what you are trying to achieve?
Basically, you have access to the actual value through the `ionAutoInput` event, and within the service through `getResults` as the first param.
Isn't it what you need?

[2017-06-16 15:13] bushybuffalo commented on #53
@kadoshms I have a set of inputs that the user has to fill in to enable another part of the screen.
What I usually do is set my inputs as required, set a ngModel for all of them, and use form validation to enable or disable the other part of the screen. This way I do not need to write any validation code in the class, only in the template.

[2017-06-16 15:56] kadoshms commented on #53
@bushybuffalo I understand, and will totally consider this (it might take some time though cause I am in a very busy time :) )
If it can't wait, you are most welcome to fork the repository and commit your changes, I'll be happy to assist you with that.

[2017-06-17 16:02] aussiemarty opened #54 "Hi, I'm getting the following error after following your steps. I'm new to ionic and was looking for some help? Cheers"
Uncaught (in promise): Error: Template parse errors: Can't bind to 'dataProvider' since it isn't a known property of 'ion-auto-complete'. 1. If 'ion-auto-complete' is an Angular component and it has 'dataProvider' input, then verify that it is part of this module. 2. If 'ion-auto-complete' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress

[2017-06-17 18:28] kadoshms commented on #54
Did you import the module as specified in the docs?

[2017-06-18 18:27] #52 closed

[2017-06-19 07:38] bushybuffalo commented on #53
Well I would like to be able to use it as soon as possible indeed, I have forked the project and I am trying to implement it, I will keep you informed !

[2017-06-19 11:37] lpeppe opened #56 "Google Places autocomplete"
Hi, I'm trying to use this component with google places API, but I can't figure out how to make it work properly. I saw the example in the documentation but I don't understand where to specify the json field to show in the autocomplete.
In my case I have this json object:

https://developers.google.com/maps/documentation/javascript/reference#AutocompletePrediction

and I need to use the descriptio

[2017-06-19 12:10] kadoshms commented on #56
Hey,
You should implement a service extending the base AutoCompleteService, which by demand should fetch the data from google, and return the observeable/promise/plain array result back to the component.
In your case, you can use the `description` field as your `labelAttribute`, and this will display the descriptions as your search result.
You can also implement your own template, and display as m

[2017-06-19 22:25] lpeppe commented on #56
Thanks for your reply.  My problems is that the method I'm using to get predictions (getPlacePredictions)
has no return value:

https://developers.google.com/maps/documentation/javascript/reference#AutocompleteService

[2017-06-20 06:57] kadoshms commented on #56
You can wrap the fetch method with an Observeable, and return the observable:

It should look something like that (not accurate, this is just the idea):

[code]

You can read more about observeables heres : https://angular-2-training-book.rangle.io/handout/observables/using_observables.html

[2017-06-20 08:40] squallliu opened #57 "The drop-down list does not work in the navbar"
The drop-down list does not display

[2017-06-20 09:03] kadoshms commented on #53
Thanks for your contribution!
If you wish to use your update, you can easily build the source code and use it.
In the meantime, open a pull request and then I will be to review it.

If you need more assitance please contact me dirrctly via email.

[2017-06-20 09:03] #53 closed

[2017-06-20 11:17] lpeppe commented on #56
Thank you so much, it works like a charm!

[2017-06-20 12:10] #56 closed

[2017-06-20 21:11] kamok opened #59 "How to debounce the getResults function call?"
My end users are slow typers. I do not want to make 10 calls per query. Query as defined as when user stops tying and looks at results. Do you know how to debounce the function call with this lib?

[2017-06-20 21:24] kamok commented on #59
Doing something like the rxjs debounceTime doesn't work with your library for some reason:

[code]

From my understanding, this should make sure that the function only get's called after 5 seconds, and will cancel any calls that are pending. But this lib makes it so it fires immediately.

[2017-06-20 21:28] kamok commented on #54
@aussiemarty You should put your logs inside a ` "```" " ```" ` block so it's easier to read.

[2017-06-20 21:31] kamok commented on #51
@danwguy People normally uses what's known as debounce in order to save some money on the number of api requests. For example, my end users type slow. I want to delay the function call to my expensive api by like 2 seconds. Eg, only fire api call when they haven't type for 2 seconds. You can read more about it here: https://stackoverflow.com/questions/32051273/angular2-and-debounce

However, it's

[2017-06-21 08:26] kadoshms commented on #59
Thanks, this is something that I should look further into.
In the meantime, if you have any insight, please share it.

[2017-06-21 09:25] bushybuffalo opened #60 "Cannot build the project: gulpfile missing"
While trying to build the project for using the changes I made in my pull request for the ngModel feature, I noticed that the gulpfile was missing.

In .gitignore, every .js file is excluded, so I guess this could be the reason why it went missing in the first place.

Of course this means that there is currently no way to build the project the way it is supposed to be built.

@kadoshms could you c

[2017-06-21 10:02] kadoshms commented on #60
fixed 328c2852c5e086ab46308346c5dc5ee8a537511f

[2017-06-21 10:02] #60 closed

[2017-06-21 21:58] kamok commented on #59
@kadoshms I found the solution. https://stackoverflow.com/questions/35991867/angular-2-using-observable-debounce-with-http-get

Basically, you have to define it on the call when you subscribe. I can't define it inside the http call's observable inside `getResults`. I looked at your source code, in `autocomplete.component.ts`, you need to add `.debounceTime(someNumberThatWeCanSetOnTheComponent)` to

[2017-06-22 05:54] kadoshms commented on #59
Any contribution would be appriciated!

[2017-06-22 10:27] mebibou opened #61 "Does not work in ion-item next to ion-label"
So I want to use this component in a form, like you would usually do with an input:

[code]

Which end up looking like:

[code]

The weird thing (or maybe just my lack of knowledge) is that the autocomplete is just not there at all. If I remove the `ion-label` element, it does appear though.

[2017-06-22 16:03] kamok commented on #61
Try this:

[code]

[2017-06-22 16:04] kamok commented on #61
You'll have to work some magic with the `employer-wrap` css things to make it look good. But yea it doesn't work out of the box.

[2017-06-22 17:42] tcigrand opened #62 "clearOnSelect option"
I was going to make a PR to skip hiding the list on select and wanted to see if you see any reason not to do this.

We are selecting multiple items and showing a checkbox in the list next to the selected items, so we don't want the list to disappear after select.

If you see no issues with this, I'll create a PR for you to review.

[2017-06-22 18:07] kadoshms commented on #62
Please make a PR :)

[2017-06-22 18:19] Stainzl opened #63 "Problem using Observable"
When I try to use an Observable I get this error:
`Cannot find a differ supporting object 'München' of type 'string'. NgFor only supports binding to Iterables such as Arrays.`
I've checked my Code and at this point the console.log prints true:
[code]
Do anyone have an Idea what I could try to fix this?

[2017-06-22 19:31] tcigrand commented on #62
👍  What's the purpose of `documentClickHandler`? Just to dismiss the list if you click outside of the component?

[2017-06-22 19:40] kamok commented on #59
Urgh dude... You already had a debounce option when you used the Ionic 2 search bar. I only realized it so late after making the gulp changes to build on my project's `node_module`. I'm gonna submit a PR to tweak the README instead.

[2017-06-22 20:09] kamok commented on #59
PR made: https://github.com/kadoshms/ionic2-autocomplete/pull/64

[2017-06-22 20:21] kadoshms commented on #62
yes indeed

[2017-06-22 20:22] kadoshms commented on #59
Thanks Ill review it asap

[2017-06-23 02:13] mebibou commented on #61
Sure, this is a workaround, but why doesn't it work like an ion-input ?

[2017-06-23 06:22] kadoshms commented on #62
@tcigrand I am closing this for now, let me know if your'e troubled by something.

[2017-06-23 06:22] #62 closed

[2017-06-23 09:01] mebibou commented on #61
Oh sorry got it:
[code]

Don't forget to add `item-content` attribute

[2017-06-23 09:01] #61 closed

[2017-06-23 10:35] Stainzl commented on #63
Sorry, found my mistake

[2017-06-23 10:44] #63 closed

[2017-06-26 09:12] lpeppe opened #66 "clickHandler problem"
Hi,
I'm now testing my app on android and whenever I tap on an autocomplete item, I get this error:

![image](https://user-images.githubusercontent.com/16524788/27532188-b13c57b8-5a5f-11e7-9c9e-7c1f3674da6e.png)

The weird thing is that it works fine when I test the app via ionic serve

[2017-06-26 09:58] #54 closed

[2017-06-26 09:58] kadoshms commented on #54
Seems like this is not going anywhere...

[2017-06-26 10:00] kadoshms commented on #66
Thank you for letting me know, I will take care of this issue as soon as I can.

[2017-06-26 10:03] kadoshms commented on #66
Well, I have already fixed this: 6b012da943ee30ff6126ac96ea1fde4afcac586e.
I will release a new version anytime soon.

[2017-06-26 10:03] #66 closed

[2017-06-26 10:17] kadoshms commented on #66
Please install `npm install ---save  ionic2-auto-complete@1.5.1-beta` and let me know if this problem reoccures.

[2017-06-26 10:59] lpeppe commented on #66
I'm not experiencing this problem anymore but the itemSelected event doesn't get triggered

[2017-06-26 11:23] kadoshms commented on #66
Ok, I will look into it.

[2017-06-27 15:00] tcigrand opened #68 "Update NPM Version"
Could you update the npm version? Hoping to use the recent changes I made and don't want to point to my fork.

[2017-06-27 15:15] kadoshms commented on #68
why not? :)

[2017-06-27 15:17] kamok commented on #59
@kadoshms You can close this when you're done. It's just some README changes nothing interesting.

[2017-06-27 15:19] kamok commented on #51
@danwguy I actually figured out debounce if you still want to do a higher debounce than 250 milliseconds. I set mine to 750 with `options` for my slow typers. If you read the current README more carefully, there's a link to the ionic docs with the options there, and you can pass it onto the component with the options argument.

[2017-06-29 15:08] tcigrand commented on #68
Not sure if you're saying, "why wouldn't I update npm?" or "why don't you want to use your fork?" haha.

[2017-06-29 17:24] badrshs opened #69 "Uncaught (in promise): Error: No provider for CompleteTestService! Error: No provider for CompleteTestService! at injectionError"
Hi ,
I'm getting this error ,
I tried alot but it didnt work

when i use public` completeTestService: CompleteTestService `in the constructor I got this

when I use  ` completeTestService: CompleteTestService ` as normal init value the code work without error unless I write something I will get

`Cannot read property 'getResults' of undefined
`

[2017-06-29 17:38] badrshs commented on #69
I Got the problem

for me I Follow the documentation but  there is nothing written there for adding completeTestService inside app.module provider

What i basically  did is inside providor

` providers: [CompleteTestService]`

thanks

[2017-06-29 17:38] #69 closed

[2017-06-29 18:59] kadoshms commented on #68
why not using your fork? ;)
I plan to release a stable new version somewhere soon but cannot be commitrd to a specific date,
bit I will do it as soon as I can.

Thanks for your contribution!

[2017-06-29 19:46] #68 closed

[2017-06-30 18:35] kamok commented on #44
@dd-here You can put a loading https://ionicframework.com/docs/api/components/loading/LoadingController/
inside the `ionAutoInput` callback. I don't know why you'd need a loading screen since your server shouldn't be that slow.

This is not an enhancement that's needed imo.

[2017-06-30 18:37] kamok opened #71 "Android android:windowSoftInputMode not being called when selecting the component"
In Android, when you select a text field, the screen will either resize or pan depending on the setting on your `android:windowSoftInputMode` in https://developer.android.com/guide/topics/manifest/activity-element.html

This can be found in `/platforms/android/AndroidManifest.xml`. However, when selecting the typeahead/autocomplete plugin, it does not trigger that.

I have no idea why, but just wa

[2017-06-30 19:18] kamok commented on #71
Confirmed this is only an Android problem. No idea how to fix.

[2017-07-03 18:06] prasitnarkdee opened #72 "if json format is not array any suggestion"
data.json response like
{"result":["United States Minor Outlying Islands","United States Minor Outlying Islands"]}
asume i cannot change provider format any suggest about http map

      .map(
        result =>
        {
          return result.json()
            .filter(item => item.name.toLowerCase().startsWith(keyword.toLowerCase()) )
        });

[2017-07-05 16:38] gauravshe opened #73 "component binding does not works for me"
I followed the each step and not able to see autocomplete complete component on html
It shows like

in HTML

[2017-07-05 17:08] #73 closed

[2017-07-07 05:20] parthustad opened #74 "How to get name, id and other meta of selected item?"
How to get  name, id and other meta of selected item?

[2017-07-07 09:29] parthustad commented on #74
when item is selected how to get id associated with it?

[2017-07-07 15:29] kadoshms commented on #74
@parthustad using the `itemSelected` event you have full access to the selected item (passed as an argument to the callback function).

Example:

In the template:
`<ion-auto-complete .......  itemSelected="foo($event)"></ion-auto-complete>`

In the component:

[code]

[2017-07-07 15:29] #74 closed

[2017-07-07 15:30] kadoshms commented on #71
@kamok thanks, do you have any further input on this?

[2017-07-07 15:32] kadoshms commented on #72
@prasitnarkdee as long as you return an array or an Observable things will work fine (on later versions Subject is also allowed).
Then, just manipulate the returned data a little bit, and it should work.

[2017-07-08 01:43] parthustad commented on #74
Okay Thank You Very much

let me check this.

[2017-07-08 02:00] parthustad commented on #74
your code is working

But what if i want to access selected item properties when button is clicked?

[2017-07-09 09:07] sabrio opened #75 "on itemSelected requires stopPropagation in order to prevent clicking another item/button behind"
I am having issue with `(itemSelect)` while I am select an item, it also triggers a click behind the list. Is there a way to event.stopPropagation()?

[2017-07-11 13:29] jaufgang opened #76 "More flexible data providers"
This component is helpful but it seems unnecessarily complicated to require users to create a service that implements `AutoCompleteService` when they may have an existing function in the parent component or another service with a name that is different from `getResults`.

Why not simply allow users to pass in any callback function

[code]
Where `mySearchFn` can be any function that accepts a strin

[2017-07-11 13:42] #72 closed

[2017-07-11 19:09] kadoshms commented on #76
@jaufgang this is just another approach :)
Do you believe that this should be a feature?

[2017-07-11 19:11] kadoshms commented on #75
Unfortunately not in the current version, but I will add a support for that in the next release.

[2017-07-11 19:11] #59 closed

[2017-07-11 19:13] jaufgang commented on #76
Yes I do.  This would be much simpler to use by developers,  who could then re-use existing functions in their component or other services without needing to have a special service just to use this component.

[2017-07-12 04:02] parthustad opened #77 "How to get selected item properties on button click?"
How to get selected item properties on button click?

how to allow item to be selected from only list?

[2017-07-12 15:24] renanmoraes commented on #76
How do I display more than one search result today is limited to 1, but would like to limit to 3 for example?

[2017-07-13 09:20] marcorinck opened #78 "Exception in AutoCompleteComponent.documentClickHandler"
I use autocomplete like this:

[code]

<icon> is my own icon component which is displaying a SVG icon which is styled to be inside the searchbar. When I click/tap on this icon this exception is thrown:

[code]

The problem is that the target of the click/tap event is now of type svg where the className attribute is not a string but a SVGAnimatedString which does not have a split function.

I have

[2017-07-13 12:21] kadoshms commented on #78
There's already a fix for that issue, will be published soon.

[2017-07-13 12:21] #78 closed

[2017-07-13 13:13] renanmoraes opened #79 "Limit the return of only 3 items."
I need a specific return, today I just found a way to return 1 or all according to the documentation.

Is there any way for it to return limited results, for example 3?

[2017-07-13 14:49] kadoshms commented on #77
1. Will be supported in the next release
2. Will be supported probably in the future

[2017-07-13 15:04] #51 closed

[2017-07-13 15:05] #44 closed

[2017-07-13 15:06] kadoshms commented on #44
@kamok I totally agree with you.

[2017-07-13 15:09] kadoshms commented on #79
My approach was not to limit the developers at all by letting them implement their own AutoCompleteService, meaning that these limits are totally up your implementation.
You can for instance fetch the data from the server, and then take only 3 relevent items and return them to the auto complete component.

Was I clear enough?

[2017-07-13 15:12] kadoshms commented on #75
fixed in 64063f45dba0652088b0adc6686653f96d631cf1

[2017-07-13 15:12] #75 closed

[2017-07-13 15:23] kadoshms commented on #43
@dd-here this feature will be included on next release.

[2017-07-13 15:23] #43 closed

[2017-07-14 08:47] jjw123 commented on #57
Same issue here. Setting overflow: visible on the ion-navbar seems to work on ios, but not on android

[2017-07-14 09:20] jjw123 commented on #57
setting overflow: visible and contain: none seems to work on both android and ios

[2017-07-14 09:38] kadoshms commented on #57
Thanks, I will make efforts to include this fix.

[2017-07-14 11:51] #79 closed

[2017-07-17 21:02] kotran88 opened #81 "I can't autocomplete works."
I just followed your instruction...
but you didn't set entryComponents to home.ts, how would hom.html <ion-auto-complete></ion-auto-complete> without setting it?

I made new ionic project and paste your autocomplete.component.ts/auto-complete.scss/
CompleteTestService which has getResults function.

at home.ts, I console.log completeTestService which works as dataprovider,
it comes with undefined

[2017-07-18 09:47] #81 closed

[2017-07-23 15:48] Samaslam opened #82 "How to use external json file in this autocomplete??"
Please help.
How to use external json file in this autocomplete??

[2017-07-23 17:19] kadoshms commented on #82
Implement a service that consumes this json as specified in the docs

[2017-07-24 05:10] Samaslam opened #83 "How to search data from External JSon using Ion-autocomplete?"
Need a little help..

How to search data from External JSon using Ion-autocomplete?

[2017-07-24 06:53] #82 closed

[2017-07-24 06:54] kadoshms commented on #83
You should refer to the docs.
The docs say that you have to implement a service which is responsible for the data - that means that this service should be able to fetch data and filter it by a keyword.
Please see the flags example in the docs.

[2017-07-24 06:54] #83 closed

[2017-07-26 15:02] sabrio commented on #75
@kadoshms the issue seems to occur again, I am testing it on Android and it does occur. Can you please return the event somehow?

[2017-07-28 04:30] rkmahale17 opened #84 "Getting xmhttp request error"
My jason Looks Like this...

{"response_code": 200, "trains": [{"number": "11010", "name": "SINHAGAD EXP"}, {"number": "11011", "name": "LTT-NED EXPRESS"}, {"number": "11012", "name": "NED-LTT  EXP"}, {"number": "11017", "name": "LTT-KIK WEEKLY EXPRESS"}, {"number": "11013", "name": "COIMBATORE EXP"}, {"number": "11014", "name": "LOKMANYA TT EXP"}, {"number": "11015", "name": "KUSHINAGAR EXP"}, {"

[2017-07-28 12:55] marcorinck opened #85 "ionFocus and ionBlur?"
I'm trying to get notified when the searchbar gets focused and/or blurred. But everything I try doesn't work ... at all. i tried these:

[code]

[code]

I get no exceptions or any warnings or output and my subscribe functions aren't called at all. Though I can see in the developer console that the eventemitters on the inputElem element have registered observers.

How can I register a handler for t

[2017-07-29 18:14] rkmahale17 opened #86 "Can't bind to 'dataProvider' since it isn't a known property of 'ion-auto-complete'."
polyfills.js:3 Unhandled Promise rejection: Template parse errors:
Can't bind to 'dataProvider' since it isn't a known property of 'ion-auto-complete'.
1. If 'ion-auto-complete' is an Angular component and it has 'dataProvider' input, then verify that it is part of this module.
2. If 'ion-auto-complete' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this compone

[2017-07-29 20:07] kadoshms commented on #86
Did you import the module as specified in the docs?

[2017-07-30 04:59] rkmahale17 commented on #86
thanks again sir, i was kiddish
i am again having one query that having this type of json
[{"name": "BSL-PUNE EXPRESS", "number": "11025"}, {"name": "PUNE-BSL EXPRESS", "number": "11026"}, {"name": "PUNE-DBG EXPRESS", "number": "11033"}, {"name": "DBG-PUNE EXPRESS", "number": "11034"},

i want to search by no also and by name . And wants result both of them

[2017-07-30 10:02] rkmahale17 commented on #86
hey i done this..
import {AutoCompleteService} from 'ionic2-auto-complete';
import { Http } from '@angular/http';
import {Injectable} from "@angular/core";
import 'rxjs/add/operator/map'

@Injectable()
export class CompleteTestService implements AutoCompleteService {
  delay: number;
  labelAttribute = null;
  trainArray:any;
  constructor(private http:Http) {

  }
  getResults(keyword:string)

[2017-07-31 08:31] marcorinck commented on #85
I found a working solution myself: I just subscribed to the right event source.

In my above code I subscribed to autocomplete.inputElem but in fact I didn't use the ion-input and instead used the (default) searchbar.

So when subscribing to events on the searchbar it works:

[code]

When one uses the input Element via <ion-auto-complete [useIonInput]="true"></ion-auto-complete> one has to use the

[2017-08-01 22:12] jason-li-aichotels opened #88 "error typing Chinese in iOS device"
when I was trying to typing in Chinese, each keypress will add the whole sentence to the input box again and again. for example, when I was trying to type in 'niu yue' in the keyboard which represent the Chinese word of New York, then I got 'nniniuniu niu yniu yuniu yue纽约'. pls fix this bug. many thx!

[2017-08-02 06:11] kadoshms commented on #88
Thanks, I will look into it

[2017-08-02 06:15] kadoshms commented on #85
Yes, I will add these events in the next release.

[2017-08-02 06:17] kadoshms commented on #84
This is definitely an issue regarding to your API (seems like a CORS issue), you can look for it online :)
This is issue has nothing to do with this project :).

[2017-08-02 06:17] #84 closed

[2017-08-02 06:45] rkmahale17 commented on #86
i dont think app.module.ts plays any role here..............

i am getting the list like

suppose i write like pune ( now it  will search inside gint json from http)
[{"name": "BSL-PUNE EXPRESS", "number": "11025"}, {"name": "PUNE-BSL EXPRESS", "number": "11026"}, {"name": "PUNE-DBG EXPRESS", "number": "11033"}, {"name": "DBG-PUNE EXPRESS", "number": "11034"},

now what i want list contain both

[2017-08-02 14:09] kilazi commented on #73
how did you solve the issue? having same here

[2017-08-04 02:33] sanutv commented on #15
Can you please share the latest version number?

[2017-08-04 06:43] kadoshms commented on #15
1.5.2-beta

[2017-08-05 09:47] richardshergold opened #89 "Error: Template parse errors: Can't bind to 'dataProvider' since it isn't a known property of 'ion-auto-complete'."
I've installed the package ok and imported the module as per the docs but am getting the error:

**Error: Template parse errors: Can't bind to 'dataProvider' since it isn't a known property of 'ion-auto-complete'.**

In app.module.ts I have

`import { AutoCompleteModule } from 'ionic2-auto-complete';`

and later on....

[code]

in my component template I have:

`<ion-auto-complete [dataProvider]="

[2017-08-05 09:50] richardshergold commented on #89
Please ignore - fixed it.  As I'm using the new LazyLoading structure I needed to import the module in my component's module file.

[2017-08-05 11:07] #89 closed

[2017-08-06 06:23] gpsidhuu opened #90 "When searching .. can we cancel the previous requests ... its causing jumps in the list"

[2017-08-08 16:30] plindsay opened #91 "how to trigger the itemsShown event"
Hi, how would you implement a method of detecting when results appear after the user has been typing? I thought the 'itemsShown' event would have achieved this but it never seems to be fired.

This is my template code -

[code]

[2017-08-08 17:13] HugoHeneault commented on #76
I agree with @renanmoraes : this service thing is a lot to implement for a quite simple thing, imo...

[2017-08-08 17:38] HugoHeneault opened #92 "Not working with async results"
Hi there,

I'm using Ionic 3.4.2, and with async results, it doesn't seems to work:

Here's my service:
[code]

I have results logged in `results` :
![image](https://user-images.githubusercontent.com/4112256/29085951-352866c4-7c71-11e7-9a08-73ea3cd47fc6.png)

Any ideas?

[2017-08-08 18:03] HugoHeneault commented on #92
I found a way to let it work with async function :)

[code]

[2017-08-09 06:23] kadoshms commented on #92
Great! closing this for now :)

[2017-08-09 10:24] HugoHeneault commented on #92
Closing without fixing? 🤔  😂

[2017-08-09 10:41] kadoshms commented on #92
@HugoHeneault your'e right ><
It was  too early in the morning, reopend :)

[2017-08-09 10:42] HugoHeneault commented on #92
No problem! If I have some time I can try to fix this. Shouldn't be that hard.

[2017-08-11 13:44] bloron opened #93 "1.5.2-release version not available on npm"
`npm view ionic2-auto-complete versions`

`[ '0.1.0',
  '1.0.0',
  '1.1.0',
  '1.1.1-0',
  '1.2.0',
  '1.2.1',
  '1.2.3',
  '1.2.4',
  '1.3.0',
  '1.3.1',
  '1.4.0-alpha',
  '1.4.0-fix-to-38',
  '1.4.0-rc1',
  '1.4.0',
  '1.4.1-rc1',
  '1.4.1-rc2',
  '1.4.1-release',
  '1.4.2-rc0',
  '1.4.2-rc1',
  '1.4.2-rc2',
  '1.4.2-release',
  '1.4.3-alpha',
  '1.4.3-beta',
  '1.4.3-release',
  '1.5.0-alpha',

[2017-08-14 20:01] sasfeat opened #94 "ng-template doesn't work if <ul> is used"
According to the README, I have to write something like this.
[code]
In this case, I have template in the DOM, but it does not shown unless I change `<ul>` to `<ion-list>` and `<li>` to `<ion-item>` and everything works fine.

I use:

[code]

[2017-08-15 10:06] kadoshms commented on #94
@sasfeat Where is this ul in your code?

[2017-08-15 10:06] kadoshms commented on #93
Thanks, will be fixed soon.

[2017-08-15 16:18] sasfeat commented on #94
@kadoshms
It comes from ng-template.
[code]

 If I change `<ul>` to `<ion-list>` at template of index.js file (line 168) - it works fine.

[2017-08-21 09:25] plindsay commented on #91
Has anyone else encountered this problem? I can see the commit that seems to have added this functionality - https://github.com/kadoshms/ionic2-autocomplete/commit/d0eadb2bab28546f1399c883139f1713ca8fa7e1 - but it doesn't seem to be available to use yet? I'm using version 1.5.2-beta in my app.

[2017-08-21 10:03] lpeppe commented on #91
Hi, it didn't work for me as well, and I ended up adding a few lines of code in the index.js file of the module.

[code]

If you copy paste this in your index.js it should work just fine!

[2017-08-21 11:23] plindsay commented on #91
Ah thanks - this does indeed work :) I guess these changes will be over-written next time there's an update to the package though?

[2017-08-21 11:26] lpeppe commented on #91
Yes, also because the module structure is completely different now. This is just a temporary solution I came up with because I have a project deadline soon :D

[2017-08-21 14:24] plindsay commented on #91
No worries - me too! Thanks for the help :) Hopefully this functionality will be brought into the official release soon.

[2017-08-23 09:32] Abenezer opened #95 "autocomplete results hidden when the component used inside ion-list"
in this situations
[code]
the result list is hidden (overshadowed)

[2017-08-23 21:16] andrews05 opened #96 "Results not being rendered immediately on iOS"
Running on an iPhone with iOS 10, latest version of ionic. I type in the input and can see in the console that the results are properly fetched from the server (getResults returns an observable) but no items are displayed (li elements are not created) until some sort of refresh is triggered, such as rotating the device or refocusing on the input.

[2017-08-24 00:43] andrews05 commented on #96
This is only happening when navigating to the autocomplete page after having scanned a qr. Very strange, still trying to figure out a workaround...

[2017-08-24 06:36] kadoshms commented on #96
Yes it does sound odd :|
It doesn't occure on other scenarios ?

[2017-08-24 06:45] andrews05 commented on #96
No, it works fine if I haven't scanned a qr. I think this is not a fault of the autocomplete plugin, I might have to take it up with the qrscanner devs.

[2017-08-24 07:01] kadoshms commented on #96
@andrews05 ok, please update me.

[2017-08-24 11:03] webmanblog commented on #75
@kadoshms confirmed, the issue is still outstanding, at least on Android platform..

[2017-08-25 08:12] kadoshms commented on #86
@rkmahale17 do you still encounter this issue?

[2017-08-25 08:36] paveltrufi opened #97 "Multiple select?"
There is an ionicv1 component here: https://github.com/guylabs/ion-autocomplete which offers to select multiple values.

Are you planning to implement something like this?

[2017-08-25 08:47] kadoshms commented on #76
Fixed e78f12eedb0546d3dda6cd317127b84a1917aeb9

[2017-08-25 08:47] #76 closed

[2017-08-25 09:28] kadoshms commented on #85
added f2c53b0eed9ec27d9106307ddebaa301b928d9d8

[2017-08-25 09:28] #85 closed

[2017-08-25 10:55] HugoHeneault opened #98 "Show all results if nothing is typed"
Could we get the whole list of items if nothing is typed in the list?

Thanks!

[2017-08-25 12:04] kadoshms commented on #97
Unfortunately not in the near future :(

[2017-08-25 12:05] marcorinck commented on #85
thank you!  👍

[2017-08-25 12:18] kadoshms commented on #95
This is an ionic issue, solved by adding a `item-content` attribute to the auto-complete component.
See https://github.com/ionic-team/ionic/issues/6880

[2017-08-25 12:18] #95 closed

[2017-08-25 12:29] kadoshms commented on #91
@plindsay @lpeppe It actually did work for me, this is pretty odd

[2017-08-25 12:34] kadoshms commented on #57
This problem occurs since the ion-nav-bar does not support overflowing content.
The fix @jjw123 suggested cannot be implemented in the component itself, but the developers using it will have to apply it on their own nav-bars.

Thanks anyway, closing :)

[2017-08-25 12:34] #57 closed

[2017-08-25 12:39] kadoshms commented on #90
You can use the `debounce` option to delay those requests:

`<ion-auto-complete .... [options]="{debounce: 1000}" ...></ion-auto-complete>`

[2017-08-25 12:39] #90 closed

[2017-08-25 12:46] kadoshms commented on #94
@sasfeat I am trying to understand how to reproduce / approach this issue, but I can't seem to, because I can't see anything wrong with the example youv'e provided.

[2017-08-25 12:51] plindsay commented on #91
@kadoshms is it anything to do with the version? My project uses 1.5.2-beta but when I search through the contents in the 'node_modules/ionic2-auto-complete' directory there is no match for 'itemsShown' in the source code...

[2017-08-25 12:54] lpeppe commented on #91
yeah, same for me

[2017-08-25 12:56] kadoshms commented on #88
cold'nt reproduce in iOS 10.1, please lmk if this still occurs.

[2017-08-25 12:56] #88 closed

[2017-08-25 13:01] kadoshms commented on #93
now available.

[2017-08-25 13:01] #93 closed

[2017-08-25 13:02] kadoshms commented on #98
This is available in `1.5.2-release` - just add `[showResultsFirst]="true"` and the results will appear when focusing the input.

[2017-08-25 13:02] #98 closed

[2017-08-25 13:06] kadoshms commented on #91
Well this is very odd.
Could you please try installing `1.5.2-release` ?

[2017-08-25 13:18] plindsay commented on #91
Yep, that works! Not sure how I ended up the getting the 'beta' version... npm must've given me this when I ran `npm install ionic2-auto-complete --save` - very odd!

[2017-08-25 13:28] Abenezer commented on #95
the `item-content ` doesn't work for me. fortunately i found css work around
`.overflow{
  contain:none;
  overflow: visible;
}`
then
 `   <ion-item class="overflow">
   <ion-auto-complete ...> </ion-auto-complete>
       </ion-item>
`

[2017-08-25 13:37] kadoshms commented on #91
Thanks, closing this now :)

[2017-08-25 13:37] #91 closed

[2017-08-25 17:02] sauravvj opened #99 "Template Parse Error"
Hey @kadoshms, I am just using the same code piece that you have given in the example in my App. I am seeing the below error on the console.

<img width="986" alt="screen shot 2017-08-25 at 12 03 14 pm" src="https://user-images.githubusercontent.com/8511613/29724251-6d6d2e88-898d-11e7-9496-b099da719ed2.png">

[2017-08-26 08:09] kadoshms commented on #99
@sauravvj can you please post your code? (all relevant parts)

[2017-08-27 23:20] sauravvj commented on #99
Service -
`import {AutoCompleteService} from 'ionic2-auto-complete';
import {Http} from '@angular/http';
import {Injectable} from "@angular/core";
import 'rxjs/add/operator/map'

@Injectable()
export class CompleteTestService implements AutoCompleteService {

  labelAttribute = "name";

  constructor(private http: Http) {

  }

  getResults(keyword: string) {
    return this.http.get("https://rest

[2017-08-27 23:27] sauravvj commented on #99
Sorry, I have closed it by mistake. Reopening it again. @kadoshms  Please have a look.

[2017-08-28 07:11] dealeo opened #100 "Need help using methods"
Hello,

I was able to use getSelection() and getValue() on click event but what I would like to do is get the selected element when I click on the list and not on the input area.
Can you please help me to do that?

Another thing, I tried several things but I'm not able to use the method setFocus() on the component.
Can you please assist me?

With best resgards,

Jerome

[2017-08-28 09:17] yamazakir opened #101 "I got a problem when long press select list item"
Hello , Guys
I got a problem when I long press the select item at the select list.
it became a empty label with all selection.
I upload a screen shot (In the bottom of the link) ,
May someone help me.
thx a lot !

https://drive.google.com/file/d/0B7bECK0ICNNaa1JCZzdNTzdhejQ/view?usp=sharing

my component code :
<ion-auto-complete [dataProvider]="selectionFilterService" [options]="{ placeholder : '

[2017-08-28 12:28] HugoHeneault commented on #98
Really nice! Thanks :)

[2017-08-28 15:08] dealeo commented on #100
Ok for first question, I found the solution using (itemSelected).

[2017-08-28 17:13] BassamHabash opened #102 "can't add own array to search in it?"
AutoCompleteComponent.html:36 ERROR TypeError: Cannot read property 'replace' of undefined
    at BoldPrefix.transform (index.js:265)
    at checkAndUpdatePureExpressionInline ()

[code]

in your file :
[code]

value is undefined;

[2017-08-28 20:17] sauravvj commented on #99
I got this issue resolved. I had to upgrade my app to Ionic 3 and dependencies to angular 4 and then I got the plugin working for me. Thanks anyways.

[2017-08-28 20:17] #99 closed

[2017-08-28 22:37] andrews05 commented on #96
After mucking around with various workarounds for a while I eventually came back to try to nail down the cause and found it's magically working correctly now. Whether it was fixed by various refactoring I did, package updates I may have done, or something else entirely, I have no idea.

[2017-08-28 22:37] #96 closed

[2017-09-01 09:30] #101 closed

[2017-09-04 23:34] dmexs opened #103 "Autocomplete doesn't appear with android keyboard but appears in chrome debugger"
Just implemented your autocomplete component over the weekend and was able to successfully test it in my browser. However when I built it for my device (Pixel XL, Android Oreo 8.0) the autocomplete drop down doesn't appear.

Funny enough, when I use Chrome remote debugging with my phone and type via my computer's keyboard the drop down appears.

Any thoughts?
![androiddebug](https://user-images.gi

[2017-09-05 15:27] pymendez opened #104 "Auto Complete not working inside form or ion-item"
Is It possible to use this component with a form?

I already have the auto-complete working, but when inside ion-content, if I put it inside a form in order to submit is value with the submit of the form or even inside an ion-item, outside the form, the auto-complete will not render properly.

Is there any way to use it that I couldn't found until now?

Thanks

[2017-09-05 17:43] kadoshms commented on #104
possible duplicate of #95

[2017-09-05 22:42] pymendez commented on #104
@kadoshms Thank you. I checked that issue, it was part of the solution but I was also having a trouble while adding it into a form as it was returning the error "No value accessor for form control with name".

I read some more documentation and find out that I have to add "ngDefaultControl" to the element because ion-auto-complete is not a know element to ngModel.

I can't remove the issue, but it

[2017-09-05 22:42] #104 closed

[2017-09-06 09:55] kadoshms commented on #104
One should never remove an issue :)

[2017-09-06 20:17] bogomips opened #105 "ng-template doesn't work by passing a function to dataProvider"
The function returns a normal array of string, but the property attrs.data.name is empty

[2017-09-07 17:08] bogomips commented on #53
Hello @bushybuffalo I was going to write the ngModel support by myself but I found you, thanks for saving me some time :)
I needed another feature though: for the countries (like the example) my api takes the standard country code like IT while I show to users "Italy" so I want to have the possibility of showing something to user while I save something different in my model.
I don't have time to f

[2017-09-07 17:16] bogomips commented on #53
Hello @bushybuffalo I was going to write the ngModel support by myself but I found you, thanks for saving me some time :)
I needed another feature though: for the countries (like the example) my api takes the standard country code like IT while I show to users "Italy" so I want to have the possibility of showing something to user while I save something different in my model.
I don't have time to f

[2017-09-15 10:47] jensgorm commented on #102
I have the same problem...

[2017-09-16 15:26] denzelwamburu commented on #77
@kadoshms  Am interested in this too. How do i initiate a function call for example after user clicks a result.

Thanks

[2017-09-16 19:13] dmexs commented on #103
Well this is embarrassing.

The issue was that the android keyboard capitalizes the first letter of the search term while my computer keyboard starts in lowercase. I modified my search function to lowercase the search terms and everything is working.

[2017-09-16 19:13] #103 closed

[2017-09-21 06:48] vasanth-qedquest commented on #100
can you please post me the code for itemSelected event? I am unable to figure out.

[2017-09-21 07:40] vasanth-qedquest commented on #77
`  <ion-auto-complete [dataProvider]="completeTestService" (itemSelected)="itemSelected($event)"></ion-auto-complete>`

[2017-09-22 13:04] dealeo commented on #100
Hello,

Here is my html code :
`<div id="writeAnswer" *ngIf="showWriteMode && !showComment">
<ion-searchbar (ionInput)="getItems($event)" placeholder="Indiquez votre réponse ..." autofocus [ngClass]="{ wrong: answerFalse == true, correct: answerTrue == true }"></ion-searchbar>
<ion-list class="list">
<ion-item *ngFor="let item of items" (click)="checkAnswer(item.name)">
{{ item.name }}
</ion-item>

[2017-09-24 05:28] phuclam85 opened #106 "Error when show data with template"
![screen shot 2017-09-24 at 12 26 21](https://user-images.githubusercontent.com/454179/30779774-d67db4ee-a123-11e7-817e-5dd9e8c5a664.png)

[2017-09-25 01:46] Mic75 commented on #102
@BassamHabash  did you set the `labelAttribute` property in your `AutoCompleteService` implementation ? If yes, this is the reason, as you're returning an array of string literal (non-object) in your `getResult`.

[2017-09-28 06:15] Hermiona opened #107 "Click event on item in dropdown is getting propagated to any element under the dropdown"
I have a ion-auto-complete input and a button below it. When I select any item in opened dropdown of a ion-auto-complete the click event is propagated to the element under the dropdown, for example, to button

[2017-09-29 12:08] dunerunner opened #108 "Initial value in autocomplete"
Hello,

Is it possible to set an initial value in the autocomplete input using ngModel or anything else?

[2017-09-30 10:21] kadoshms commented on #108
Iv'e just merged a pull request that handles that, please keep watching :)

[2017-09-30 10:59] kadoshms commented on #108
This feature is now supported in 1.5.3-beta (will be released soon)

[2017-09-30 10:59] #108 closed

[2017-09-30 11:00] kadoshms commented on #106
@phuclam85 please add more information (please attach your controller and template code).

[2017-09-30 11:12] kadoshms commented on #105
It worked perfectly to me:

My template:
[code]

My provider:

[code]
@bogomips I can guess that your provider function doesn't return the data in this form, am I right?
The value of `attrs.data` is the actual item value that is returned from the provider. If your items don't have a `name` proeperty, `attrs.data.name` will be empty.

Please update me

[2017-09-30 11:17] kadoshms commented on #102
Thanks @Mic75 .
@BassamHabash can you please attach an example of the data returned from your service?

[2017-09-30 11:17] kadoshms commented on #86
Closing due inactivity.

[2017-09-30 11:17] #86 closed

[2017-09-30 11:18] kadoshms commented on #94
Closing due inactivity.

[2017-09-30 11:18] #94 closed

[2017-10-04 13:22] renanmoraes opened #109 "Import error autocomplete ionic"
I know it is something simple to solve but I can not see where my problem is, I have already updated and I follow exactly what is in the documentation, besides this I already have an example working in the same project of auto complete but I really do not know what is happening .

My first example is in the home and everything works and the other one is in another totally different component.

The

[2017-10-04 14:09] kadoshms commented on #109
Wow this is very odd.
If you remove this component from that page, the autocomplete in the home page works?

[2017-10-04 15:14] renanmoraes commented on #109
I do not know how to do this test.

[2017-10-04 15:17] renanmoraes commented on #109
Yes the autocomplete of the home page work regardless of my model, all following the normal flow, if I put it spits me the error. At least you know what might have happened? Seeing my code saw something wrong?

[2017-10-05 09:50] kadoshms commented on #77
You can use the `getSelection()` method.

[2017-10-05 09:50] #77 closed

[2017-10-05 09:51] kadoshms commented on #71
closing due to inactivity.

[2017-10-05 09:51] #71 closed

[2017-10-05 09:52] kadoshms commented on #109
Well this is pretty foggy.
Can you please share your folder structure, or maybe some more relevant code?
I can't see anything too suspicious in the code you provided.

[2017-10-05 09:54] kadoshms commented on #105
I am closing this for now.
The example Iv'e provided worked perfectly to me, if for any reason it still does not work for you, just let me know.

[2017-10-05 09:54] #105 closed

[2017-10-05 11:33] renanmoraes commented on #109
My folder is as follows, the file that is giving problem is the city-indication and it is located in
[code]
Already the file that is right is that of home, and it is located in
[code]
All my providers are in the same folder, both what I consume with the home (what works) and the city-indication (which does not work) and it's here
[code]
The main folder is where I made the imports and everything el

[2017-10-07 20:12] TizioFittizio commented on #109
+1
This is happening to me too, same errors as above, but instead i've not even one working ion-autocomplete
I just followed the instructions in the read.me

[code]

[2017-10-09 18:10] aleehpandita commented on #11
thank you so much @zaiderikat

[2017-10-11 06:35] kanchany21 opened #110 "show multiple data in autocomplete"
how to show city name with country

[2017-10-11 07:07] kadoshms commented on #110
Please elaborate more, your description is not informative enoguh.

[2017-10-11 07:44] kanchany21 commented on #110
i want to show multiple data like country name with capital and region, as shown in below image

![untitled](https://user-images.githubusercontent.com/32696795/31427693-fd562a0a-ae1c-11e7-831c-c17c04b4a6b3.png)

[2017-10-12 07:31] kadoshms commented on #110
Have you considered using a custom template?
This is exactly what it's meant for :)
Please reffer to the docs

[2017-10-13 08:08] kadoshms commented on #110
Anyway I am closing this for now, if you need any further assistant with this don't hesitate.

[2017-10-13 08:08] #110 closed

[2017-10-13 08:17] Darkham666 opened #111 "Can't detect clear or cancel button action"
Hey, I'm using the version 1.3.1 and I'm trying to detect action on clear/cancel button but I get nothing.

In my HTML
```<ion-auto-complete [dataProvider]="autocomplete" [options]="{ placeholder : 'Find my game'}" (ionCancel)="onCancel($event)" (itemSelected)="gameSelected($event)" #searchGame></ion-auto-complete>```

In my TS
[code]

Thanks a lot :)

[2017-10-13 08:25] kadoshms commented on #111
This event is not exposed in the `ion-auto-complete` api.
Then we have 2 options:

1. Mark this as 'Enhancement' and I'll add this feature anytime soon (might take some time :) )
2. You can make a PR for this feature

[2017-10-17 11:22] jobehi commented on #109
it's also my case
Error: Uncaught (in promise): Error: Template parse errors:
'ion-auto-complete' is not a known element:
1. If 'ion-auto-complete' is an Angular component, then verify that it is part of this module.
2. If 'ion-auto-complete' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message. ("

        [ERROR ->]<ion-auto-c

[2017-10-17 12:40] jobehi commented on #109
Well, I got a solution. I don't really understand why is it this way.
You have to redclare the Module in each page module you're using.
If you're working in Example.html ; declaration should be in the Example.module.ts

import { NgModule } from '@angular/core';
import { IonicPageModule } from 'ionic-angular';
import { ExamplePage} from './example';
import { AutoCompleteModule } from 'ionic2-auto-c

[2017-10-17 12:58] nosTa1337 opened #112 "Input validation"
Hi,

is it possible to use the angular formgroup validation on the searchbar?

I have a formgroup with validators and I would like to add the validator to the searchbar.

`this.formGroup = this.formBuilder.group({
      materialInternalId: ['', Validators.required],
      identifiedStockID: ['']....`

Any suggestions? It's just needed for the visual, I know I can check if it has a valid value or n

[2017-10-17 20:23] lpeppe opened #113 "Position absolute not working"
Hi, I need to apply position absolute property on the component but I noticed that as soon as I apply it, the autocomplete suggestions become invisible. Any idea what could be wrong?

This is my template:

[code]

And this is my css:

[code]

[2017-10-20 14:51] kadoshms commented on #112
@nosTa1337 It is not possible in the current version, would you like to make a PR for that?

[2017-10-20 14:52] kadoshms commented on #109
Thanks @jobehi

[2017-10-20 14:52] #109 closed

[2017-10-23 07:52] nosTa1337 commented on #112
@kadoshms  You may saw my custom repo, but it's not customizable yet and I don't know if I find the time to do so. You can close this request. If I find the time I will do a PR.

[2017-10-23 07:52] #112 closed

[2017-10-23 19:10] ignacioPastor commented on #107
Same problem here. I have tried to clone the repo and fix it but stopPropagation() and many other attempts haven't worked. Seems that the event can't be stopped :s

[2017-10-25 14:06] guillard commented on #111
I can propose my workaround ...
You hide the clear button of the component and create your own clear button.

In my html

` <ion-auto-complete [dataProvider]="myProvider"></ion-auto-complete>
  <button (click)="checkReset()" class="clearAC">x</button> `

In my scss

`.clearAC {
      color: white;
      background-color: gray;
      padding-left: 6px;
      padding-right: 6px;
      padding-bottom

[2017-11-02 10:23] richardlyc opened #114 "in ion-header overflow not display"
search hint can‘t be displayed in ion-header

[2017-11-07 06:04] shie-erlich opened #116 "question: partial complete within a string based on a character/keyword"
hi folks,
thanks for working on this project.
i have a more advanced need, and i'd like to know if i can somehow modify this component to make it work for me. basically, i have a textedit component in which i type free form strings, and i want the autocomplete to kick-in for a part of the string.

example:
let's say i type "good morning @vie" -> i'd like the autocomplete to start completing after

[2017-11-07 09:26] kadoshms commented on #116
Hey @shie-erlich, what you are describing is actually pretty different from what this component stands for (search box with a list under it).
I believe though, that you can fork this repo and make those changes (there should be a lot of changes, but you can deffinetly find some of  the code base useful).

I am closing this as this is not a plugin issue, please feel fee to consult me and continue t

[2017-11-07 09:26] #116 closed

[2017-11-07 09:26] kadoshms commented on #114
Hey, please provide some more details, maybe a screen shot?

[2017-11-10 00:53] mgoku opened #117 "Error with ionic 3.9 and Angular 5: Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'"
Hi,

I try to use this library with ionic 3.9.2 and Angular 5, but it doesnt work.

The error message say:

[code]
I check Angular API documentation, and it seems `ngOutletContex` has been deprecated in Angular 5.

https://angular.io/api/common/NgTemplateOutlet

I assume it can be fixed by replacing `ngOutletContex` with `ngTemplateOutletContex`.

[2017-11-10 04:53] CoreyCole commented on #117
Looks to me as simple as your suggest from the same issue in ngx-chips  here:
https://github.com/Gbuomprisco/ngx-chips/pull/585/commits/cd319822084bd57d2a9fbb2b783c532f5f587323

The depreciated ngOutletContext directive is only used here:
https://github.com/kadoshms/ionic2-autocomplete/blob/e63f60d6b65a5c015c706951b45b0df744833f76/src/autocomplete.component.ts#L69

Working on a PR...

[2017-11-10 05:12] CoreyCole commented on #117
Does anyone know how to run the build so I can swap it out with the current version that is in my node_modules and test that it works? I have a suspicion that we will also need to upgrade the angular version to at least `^4.2.0` it have the `ngTemplateOutletContex` directive

[2017-11-10 05:35] CoreyCole commented on #117
More information on updating moduleName for rollup: https://github.com/rollup/rollup/issues/1479

[2017-11-10 08:09] kadoshms commented on #117
@CoreyCole thanks!

[2017-11-10 08:09] #117 closed

[2017-11-10 12:33] mgoku commented on #117
Thank you

[2017-11-12 10:18] sofiane01234 opened #119 "I can't upgrade from 1.5.1 to 1.5.2 release"
Hi there
Thanks for the plugin but i have a trouble
when i download the version 1.5.2 with npm install i can't find the form angular validators inside
any help ??

Ionic info :

: 1.9.2
ionic (Ionic CLI) : 3.9.2

global packages:

Cordova CLI : 7.0.1
local packages:

@ionic/app-scripts : 3.0.1
Cordova Platforms  : android 6.2.3
Ionic Framework    : ionic-angular 3.6.0
System:

Node : v6.11.1
npm

[2017-11-12 10:19] sofiane01234 commented on #119
Ionic info :

  @ionic/cli-utils  : 1.9.2
    ionic (Ionic CLI) : 3.9.2

global packages:

    Cordova CLI : 7.0.1

local packages:

    @ionic/app-scripts : 3.0.1
    Cordova Platforms  : android 6.2.3
    Ionic Framework    : ionic-angular 3.6.0

System:

    Node : v6.11.1
    npm  : 5.3.0
    OS   : Windows 10

[2017-11-12 21:06] leo-staric commented on #107
Has anyone found a solution :(?

[2017-11-12 21:12] ignacioPastor commented on #107
As terrible workaround, you can display an invisible layout behaind the searchbar and dropdown when dropdown is displayed and capture there the propagation. Not really good solution, but the only way a get it working (I tryed to download the code and fix it but there are a rare bug behaviour that doesn't allow to stop the propagation.

[2017-11-13 12:39] fortuneNext opened #120 "Angular 5"
Hi,

using Angular 5, im getting the error:

Any plans to upgrade this awesome project to Angular 5?

Greetings!

[2017-11-13 13:04] vksgautam1 opened #121 "Error: Can't resolve './app.module.ngfactory';; angular 5"
getting this issue with ionic 3.9.2 angular 5.
if i uninstall it, project is working fine

[code]

[2017-11-13 13:32] kadoshms commented on #120
Yes, there's already a branch for that :)
You are most welcome to make PR's anyway :)

[2017-11-13 13:32] #120 closed

[2017-11-13 17:24] bogomips commented on #121
In order to get info about the error run:

$ ./node_modules/.bin/ngc
[code]

[2017-11-13 17:50] kadoshms commented on #119
I am not sure I am following. The plugin does not have any built in validators support. Could you please elaborate more?

[2017-11-13 17:51] kadoshms commented on #121
There's already a branch for resolving all the angular 5 issues, please stay tight :)

[2017-11-13 20:08] fernandopena opened #122 "getItemLabel is not working"
I've removed the labelAttribute field and added the function getItemLabel but it never gets called and the autocomplete fails with the error:

Runtime Error
value.replace is not a function

Stack
TypeError: value.replace is not a function
    at BoldPrefix.transform (http://localhost:8100/build/vendor.js:171315:22)
    at checkAndUpdatePureExpressionInline (http://localhost:8100/build/vendor.js:11

[2017-11-14 14:18] andmart opened #123 "Rollup has changed interface parameter moduleName to name. Compilation fails."
I changed gulpfile.js to reflect this in task rollup:umd. It worked for me.

[2017-11-14 14:20] kadoshms commented on #123
Do you want to make a PR for that?

[2017-11-14 14:20] kadoshms commented on #122
Why did you remove the labelAttirubte?

[2017-11-14 15:28] andmart commented on #123
Ok.

[2017-11-14 15:28] #123 closed

[2017-11-14 16:58] dzamula opened #125 "Bug: ngModel doesn't update on 'clear'"
When I click the clear button (x) on the underlying searchbar component ngModel doesn't clear accordingly.

Is there any way to catch ionClear event from the searchbar? With that event, I could at least clear the model with a custom method.

[2017-11-14 21:35] fernandopena commented on #122
Because in the example is removed and I thought it shouldn't be there:

_import {AutoCompleteService} from 'ionic2-auto-complete';
import { Http } from '@angular/http';
import {Injectable} from "@angular/core";
import 'rxjs/add/operator/map'

@Injectable()
export class CompleteTestService implements AutoCompleteService {
  formValueAttribute = ""

  constructor(private http:Http) {
  }

  getResul

[2017-11-14 21:53] kadoshms commented on #122
labelAttribute is used for accessing the displayed fields. The only scenario when you don't need it is when your data is represented as a plain string array, which is clearly not the case with the countries example...

[2017-11-15 12:55] fernandopena commented on #122
Thanks for the answer @kadoshms. I need to customize the suggestion display by concatenating several fields. Is it possible? The documentation says:

### How to concatenate several fields as label ? ###

The auto-complete component allows you to use templates for customize the display of each suggestion. But in many cases, the default template is good. However, you need to concatenate several fiel

[2017-11-17 18:20] piyachetk opened #126 "Field Uninteractable"
Hello. I have followed the instructions written but I still cannot make this work. The autocomplete field does not react to my click at all, and it doesn't invoke the click event either. It is not showing any result and I see no error in my console.
I am building a progressive web app with Angular 4.4.4 and Ionic 3.8.0.
Here is my service class:

[code]

Constants.schoolList is a simple array of s

[2017-11-18 07:05] kadoshms commented on #114
Closing due to no response.

[2017-11-18 07:05] #114 closed

[2017-11-18 07:06] kadoshms commented on #106
Closing due to no response.

[2017-11-18 07:06] #106 closed

[2017-11-18 07:23] kadoshms commented on #122
After investigating this issue a bit, I found out that there's indeeded a problem with it, hopefully I'll have enough time to fix it soon :)
As a workaround, you can use a custom template.

In the meantime, I'll remove the `getItemLabel` section from the docs.

[2017-11-18 07:33] kadoshms commented on #126
Hey @piyachetk , if you place the autocomplete outside of `ion-item`?
For the sake of testing, let's just locate it above the `<form>`, and see what happens.

There's a known issue in ionic with ion-item and custom content (see #95 and https://github.com/ionic-team/ionic/issues/6643, and there are many more issues opened about this topic).

[2017-11-18 07:46] piyachetk commented on #126
I moved it outside `ion-item` and it now works like a charm. Thank you.

[2017-11-18 07:46] #126 closed

[2017-11-19 19:51] pavei opened #127 "Error using ngModel"
I'm trying to do this:

[code]

[code]

And it's not working. How can i do this?

[2017-11-21 12:08] fernandopena commented on #122
Thanks @kadoshms!

[2017-11-22 22:51] JahBrewski commented on #107
@ignacioPastor curious what your solution looks like?

[2017-11-22 22:53] JahBrewski commented on #75
@kadoshms Also seeing this bug. Is there a fix? This almost makes the plugin unusable.

[2017-11-23 07:44] kadoshms commented on #119
I am closing this due to no response.

[2017-11-23 07:44] #119 closed

[2017-11-23 17:40] ignacioPastor commented on #107
Put this div in your html, nor relevant where

`<div *ngIf="showTransparentPage" id="transparentPage"></div>`

`    #transparentPage {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 9;
    } `

In the html "showTransparentPage" is a boolean that I manage from the .ts, true when the searchBar gets the focus. If your searchBar has z-index: 10,  and the page's

[2017-11-24 14:36] JanMisker commented on #107
I witnessed something similar, and also the dropdown was not closing when clicking elsewhere in the page. I figured out it has something to do with the document:click HostListener, it seems to not get triggered.

As a workaround I added a `@HostListener` in my own component, but on document:tap instead, I duplicated the content of the documentClickHandler in this function (referencing the AutoComp

[2017-11-27 11:46] Hermiona opened #128 "Can't bind to 'ngOutletContext'"
I installed ionic2-autocomplete@1.5.3-beta but when I got the error below, I did uninstall it and installed ionic2-autocomplete@1.5.2-release but anyway the error is the same. Also there is the  following warn:
`npm WARN ionic2-auto-complete@1.5.3-beta requires a peer of @angular/core@^4.0.0 but none was installed.`

I get the following error:
[code]

My package json looks like this:
[code]

Ionic

[2017-11-27 13:56] sandervankasteel commented on #128
This is caused by using Angular 5.0. My suggestion is either downgrade to Angular 4.x or wait until a new version of this package is released.

Disclaimer: I'm not a maintainer or anything of this project. But I'm currently waiting on a new release of this packages, so I'm "watching" this project and I saw multiple issues of this.

[2017-11-27 16:09] kadoshms commented on #128
@sandervankasteel @Hermiona
Iv'e published an experimental version with ng5 support: ionic2-auto-complete@1.6.0-alpha
I am a bit short in time at this period, and unfortunately don't have enough time to test myself , so I'll be glad to get some feedback from you :)

[2017-11-27 16:09] kadoshms commented on #121
Iv'e published an experimental version with ng5 support: ionic2-auto-complete@1.6.0-alpha
I am a bit short in time at this period, and unfortunately don't have enough time to test myself , so I'll be glad to get some feedback from you :)

[2017-11-27 19:48] sandervankasteel commented on #128
Awesome @kadoshms! I will check it out and let you know.

[2017-11-28 05:12] Hermiona commented on #128
thanks

[2017-11-29 10:26] kadoshms commented on #128
@Hermiona @sandervankasteel do you have any feedback? :)

[2017-11-29 13:14] fortuneNext opened #129 "Autocomplete takes full width of grid instead of column"
When ion-auto-complete is embedded in an ion-col, it ignores the bounds of it.

For example the following code:
`<ion-content padding>
  <ion-grid>
	<ion-row>
		<ion-col col-2>
			<ion-auto-complete>
			</ion-auto-complete>
		</ion-col>
		<ion-col>
			<button ion-button>BUTTON</button>
		</ion-col>
	</ion-row>
  </ion-grid>
</ion-content>`

leads to this output:

![unbenannt](https://user-images.g

[2017-11-29 16:00] fortuneNext opened #130 "How exactly to pass a function as dataProvider?"
Hi again,

the documentation says that it is possible to pass a simple function that returns an array as dataProvider but it is not documented how exactly the syntax for that is.

Im getting the error "TypeError: this.dataProvider.getResults is not a function" for the line

`<ion-auto-complete [dataProvider]="test"></ion-auto-complete>`

and error "_co.test is not a function" for the line

`<ion-a

[2017-11-29 17:29] #102 closed

[2017-11-29 17:30] kadoshms commented on #121
I am closing this for now, lets continue this discussion in #128

[2017-11-29 17:30] #121 closed

[2017-11-30 08:10] sandervankasteel commented on #128
In all fairness, I haven't had the chance to checkout it yet... Hope to do it at the end of my day

[2017-11-30 08:16] sandervankasteel commented on #129
I've had the same issues.. I fixed by using the following CSS. You do need to modify it for your own requirements.

[code]

[2017-12-05 14:38] #130 closed

[2017-12-05 16:17] manuvalentim commented on #120
has solution? i need this plugin.

[2017-12-05 16:27] manuvalentim commented on #128
I used ionic2-auto-complete@1.6.0-alpha and it worked for me. Thanks!

[2017-12-06 04:25] PrabuGovindan opened #131 "How to load from List or array values in Autocomplete?"
How to load from List or array values in Autocomplete ionic 2?

[2017-12-06 07:40] kadoshms commented on #131
what do you mean by that?

[2017-12-06 08:59] kadoshms commented on #128
@manuvalentim Thanks!

[2017-12-06 09:34] lmigula commented on #128
Same here. The error disappeared after upgrading to  ionic2-auto-complete@1.6.0-alpha

[2017-12-06 10:18] sandervankasteel commented on #128
I've used the new alpha version as well and everything worked out just fine! 🎉

[2017-12-06 10:38] kadoshms commented on #128
Thanks guys, closing this for now :)

[2017-12-06 10:38] #128 closed

[2017-12-07 08:45] wuzp1230 opened #132 "Cannot get focus when tapping on the ion-auto-complete on Android phone."
I tried to put an <ion-auto-complete> in a <ion-col> or a <ion-content> and built it to an apk. When I tried to tap on the <ion-auto-complete>,the input cursor don't show,keyboard don't pop up either. But when I run on Chrome with DevTool on my computer,the input cursor works well. My devices: an android 6.0 and an android 7.1.2, niether works. I also tried to add a (click) to activate the setFocu

[2017-12-07 11:44] renanmoraes opened #133 "Questions about autocomplete"
I tried to use your autocomplete for a web project with angular 5 and it did not work, would you have a surrogate plugin that works web?

[2017-12-07 12:46] kadoshms commented on #133
Not really, this is an Ionic plugin.
 You are more welcome to fork it and use the code base

[2017-12-07 12:46] #133 closed

[2017-12-07 15:17] Exormeter opened #134 "Gray bar around search field and uninteractable on iOS"
Hi, I have a problem with your autocomplete plugin.
On iOS, I have a gray bar around the search field and the search field is almost not clickable. I can't get the courser to appear and the onscreen keyboard will only appear when I tap the search field rapidly. No problems using the searchbar in the browser, looks normal and behaves normal.

This probably not enouth informations to pindown the iss

[2017-12-07 15:21] Exormeter commented on #132
I might have the same issue on iOS, do you get the keyboard if you tap the input field rapidly?

[2017-12-07 16:26] wuzp1230 commented on #132
I can get the keyboard when I long press the input.Then a little 'paste' tip comes up.It's unfriendly.

[2017-12-07 17:20] kadoshms commented on #134
Hey @Exormeter , thanks for using this plugin.
What happens when you use the regular `ion-searchbar`, do you experience the same issue?

[2017-12-07 19:06] Exormeter commented on #134
I tested a plain '''ion-searchbar''', it looks the same as the autocomplete bar, but if I click on it the keyboard and cursor appear instantly.

[2017-12-08 21:54] Exormeter commented on #134
Update: Installing version 1.4.0 instead of 1.53 and removing the ```value``` field from the template seems to work, at least in the emulaor. Haven't tested it on the device yet.

Leaving the ```value``` field in gives me a runtime error, apparently because ```ion-searchbar``` doesn't have that field. (deprecated?)

Can you tell me what the difference between the tow versions is and that the ```va

[2017-12-09 16:38] kadoshms commented on #134
@Exormeter well, this is something I need to investigate

[2017-12-09 16:39] kadoshms commented on #127
@pavei What version are you using? is there any error?

[2017-12-11 22:18] mathvaleriano commented on #128
Can't bind to 'dataProvider' since it isn't a known property of 'ion-auto-complete'.
what's the substitute?

[2017-12-11 22:55] kadoshms commented on #128
@mathvaleriano this is not related to this issue :)
Did you import the module properly?

[2017-12-12 12:08] mathvaleriano commented on #128
sorry about that. it works with import .. thx

[2017-12-13 11:07] GREPY opened #135 "Empty the value of searchbar from controller"
Hello, I'm new to Angular and I need help with this module.
I need to erase the string inside autocomplete component after item is selected, or space/enter key pressed. I use events itemSelected when item is selected and ionAutoInput when space is pressed - but it is not fired on enter key. I have 2 questions:

1. How can I bind event to enter key press when focused to autocomplete component?

2.

[2017-12-16 09:36] Yogeshjuya1993 commented on #134
@kadoshms I can confirm that this issue is there in version 1.5.3-beta on iOS. Tapping on search bar doesn't opens up keyboard, one needs to long press on search bar for it to show up. However it seems to be working fine on Android.

[2017-12-16 13:36] kadoshms commented on #132
Duplicate of #134

[2017-12-16 13:36] #132 closed

[2017-12-16 13:37] kadoshms commented on #134
fixed in #6a86c506841c731e409edceeec19fb5ed4a1e484

[2017-12-16 13:37] #134 closed

[2017-12-16 13:39] kadoshms commented on #131
No response, closing for now.

[2017-12-16 13:39] #131 closed

[2017-12-16 19:58] dzamula opened #136 "Build for production (--prod) fails"
The command ```ionic build --prod```  fails with an error after updating from 1.5.4-alpha to 1.6.1-alpha:

_Error: ./node_modules/ionic2-auto-complete/dist/ionic2-auto-complete.ngfactory.js
Module not found: Error: Can't resolve 'ionic2-auto-complete' in 'project_path/node_modules/ionic2-auto-complete/dist'
resolve 'ionic2-auto-complete' in 'project_path/node_modules/ionic2-auto-complete/dist'
  P

[2017-12-16 20:05] dzamula commented on #136
The workaround is to change the imports from
[code]
to
[code]
but with "/src" the regular ```ionic serve``` is getting failing.

[2017-12-16 23:00] kadoshms commented on #136
@dzamula Sorry about that!
I published the whole source instead of the compiled one by mistake, please use `1.6.2-alpha` instead.

P.S I added a publish script to avoid this from happening again.

[2017-12-16 23:00] #136 closed

[2017-12-19 07:57] GREPY commented on #135
Will you help me, please? I assigned the model with ngModel but two way data binding is not working when I erase the model in controller.
And by event key press I meant tapping search (confirm) button on mobile keyboard.
Thank you.

[2017-12-20 17:19] b-d055 commented on #130
I am having this same issue. How did you resolve this? I can't seem to find the documentation for it.

[2017-12-20 17:26] fortuneNext commented on #130
My working code looks like this:

`<ion-auto-complete`  [dataProvider]="aFunc.bind(this)"></ion-auto-complete>`

`aFunc(filter: string): Array<string> {
    return ["1","2"];
  }`

[2017-12-25 06:11] Hermiona opened #137 "@angular/core@^4.0.0"
I installed ionic2-auto-complete@1.6.2-alpha. After that I ran command: `npm list`. And the result is :
`npm ERR! peer dep missing: @angular/core@^4.0.0, required by ionic2-auto-complete@1.6.2-alpha`

Currently in my package.json I have `"@angular/core": "5.0.3",`

How to fix it so that it could support @angular/core": "5.0.3

[2017-12-26 15:26] mathvaleriano commented on #137
i've the same problem

[2017-12-26 19:26] ar27111994 commented on #128
Hi, my suggestions are not showing in Ionic 3.9.2 and Angular 5.0.3. Please help! I've literally tried each and everything but search suggestions just won't show up. Please help! @kadoshms

**Service Code:**
[code]
**Template Code:**
[code]

**Fetched Response from Server:**
![err2](https://user-images.githubusercontent.com/13036687/34363238-2cd83e7e-ea9c-11e7-9dfe-ced3ae0a9eef.JPG)

**Browser Out

[2017-12-27 06:01] ar27111994 opened #138 "Suggestions box doesn't show up despite successful HTTP response"
Hi, my suggestions are not showing in Ionic 3.9.2 and Angular 5.0.3. Please help! I've literally tried each and everything but search suggestions just won't show up. Please help! @kadoshms

**Service Code:**
[code]
**Template Code:**
[code]

**Fetched Response from Server:**
![err2](https://user-images.githubusercontent.com/13036687/34363238-2cd83e7e-ea9c-11e7-9dfe-ced3ae0a9eef.JPG)

**Browser Out

[2017-12-27 06:35] kadoshms commented on #138
what version of the plugin are you using?

[2017-12-27 06:39] ar27111994 commented on #138
version `1.6.2-alpha`

[2017-12-27 07:13] kadoshms commented on #138
@ar27111994
when your'e running with `ionic serve` do you see any error in the console?

[2017-12-27 07:25] ar27111994 commented on #138
no, there's no error in the console. Here are the results of `getResults`
![consoleout1](https://user-images.githubusercontent.com/13036687/34374093-f1ff4238-eb00-11e7-8838-8c73302196a6.JPG)
function:

[2017-12-27 07:26] ar27111994 commented on #138
![consoleout1-1](https://user-images.githubusercontent.com/13036687/34374128-311d5b6c-eb01-11e7-944a-fc391f48e3e0.JPG)

[2017-12-27 07:32] kadoshms commented on #138
@ar27111994 well this is definitely odd.
Does it also happen when you are using it in a regular flat page? (I mean - without ion-list)?
I tried some pieces of your code and it seemed fine

[2017-12-27 07:37] ar27111994 commented on #138
yes, absolutely, I've tried it in a regular page in both header and content areas, but with the same result.

[2017-12-27 07:41] ar27111994 commented on #138
@kadoshms  maybe look at my service provider and see if I'm doing everything according to the docs? I hope that `labelAttribute` is the name of the property in each of the array objects that we wanna show in and select from the search suggestions.

[2017-12-27 07:57] ar27111994 commented on #138
even uninstalled and re-installed the `npm` package:
![consoleout2](https://user-images.githubusercontent.com/13036687/34374902-70ffff1a-eb05-11e7-9c48-e09823c27a57.JPG)
![consoleout3](https://user-images.githubusercontent.com/13036687/34374903-7131656e-eb05-11e7-872f-2ead3c64dfe5.JPG)

[2017-12-27 08:05] ar27111994 commented on #138
sorry, button pressed by mistake.

[2017-12-27 10:42] ar27111994 commented on #138
ok, I've finally got it working but with different code and without authentication check. Here's the updated code:

[code]

![screenshot from december 27 2017 3_37 pm](https://user-images.githubusercontent.com/13036687/34379317-816a1b62-eb1c-11e7-81b0-ff38396332fd.png)

[2017-12-27 10:43] ar27111994 commented on #138
But, it's still not working in ion-list, even with `item-content` attribute and the following CSS:

[code]

[2017-12-27 11:35] ar27111994 commented on #138
ok, my mistake, I was including `ion-item` alongside `item-content` attribute. Now, the only mystery that remains is that why wasn't it working with the previous service code. Anyways, I'm closing this issue, as I have found a workaround, you can look around and find the actual problem if there is one, while using my my code.

[2017-12-27 11:35] #138 closed

[2017-12-27 12:10] ar27111994 commented on #135
same question.

[2017-12-27 12:17] ar27111994 commented on #135
ok got the solution:
**Component Mapping to Controller**
`@ViewChild('nameFilter')nameFilter: AutoCompleteComponent;`
**Controller method code**
`this.nameFilter.clearValue();`

[2017-12-28 11:22] GREPY commented on #135
Wonderful, thanks, now it works :) :+1:

And what about capturing submit event?

[2017-12-28 13:58] ar27111994 commented on #135
Input fields don't have submit events, forms and buttons have it. You can use `nameFilter.getValue()` inside your `submit()` function to get the selected value in `AutoCompleteComponent` .

[2017-12-28 18:07] MarceloRGomes opened #139 "Need to empty value if type error"
Hi,
First: great component! Thanks!

The example is:
If user select an valid item, then return to field and type 'sdf' (with no results), the getValue (and the formcontrol) still get the last valid item selected.

How can I empty this?

[2018-01-02 04:18] MarceloRGomes commented on #125
The same occurs with formControl

[2018-01-04 07:46] GREPY commented on #135
Thank you, I put it inside the form :)

[2018-01-04 07:46] #135 closed

[2018-01-04 18:48] en-sevilla commented on #117
I had the same issue on Ionic2-calendar (https://github.com/twinssbc/Ionic2-Calendar/issues/233) and I solved it by deleting   `[locale]="es-ES"` in the HTML component, by replacing this:

[code]

for this

[code]
for clarity sake, my app.module.ts is:

[code]
and ionic2-calendar is 0.4.0 version

[2018-01-05 10:40] bogomips commented on #107
Same here, any solution?

[2018-01-10 19:16] countrdd opened #140 "<ion-input> Example?"
Can a working example of how to use it with a ion-input? what options etc?

[2018-01-17 18:45] mwvarela commented on #89
@richardshergold How did you fix it? I have the same problem.

[2018-01-17 18:46] jdchabonneau opened #141 "Better keyboard support"
I need the down-arrow key to change the focus from the text-box to the result list, then the up & down arrow keys should change  which result is highlighted, and the Return key should select the highlighted item.  I could probably do the coding myself, but I have no idea of how to work on an open-source project.

[2018-01-27 22:14] stuartrivero commented on #137
Same problem.

[2018-01-30 09:44] jjibarrola commented on #107
Hi everybody,

I have found a solution for this problem. In my case i solved the problem modifiying the "tap" event its generated when we select an option.

Just change the following line in the file **autocomplete.component.ts**

`<li *ngFor="let suggestion of suggestions" (tap)="select(suggestion);$event.srcEvent.stopPropagation()">`

for this one
`<li *ngFor="let suggestion of suggestions" (cli

[2018-01-30 11:22] Hermiona opened #143 "Use custom function for 'ionClear' event"
I need to use my own custom function when  'ionClear'  event emits. How can I do that?

[2018-01-30 11:58] kadoshms commented on #143
Currently there's no support for that, I'll mark it as a feature request.

[2018-01-30 11:58] kadoshms commented on #141
Hey, thanks for reaching out.
I will totally consider this for the future releases.

[2018-01-30 11:59] kadoshms commented on #137
I'll look into it

[2018-01-30 15:24] lakehouseru opened #144 "Can't provide array as data source"
There's a statement in a docs

But there's no example of code explaining how to do it.  Can anyone give an example code?

As I can see [dataProvider]="only Provider Class here" can receive only Service inherited from AutoCompleteService.

[2018-01-30 15:51] kadoshms commented on #144
You can simply create a function that returns an array, and pass it as a dataProvider

[2018-02-02 10:04] QJvic commented on #137
angular5.0.0.  Same problem.

[2018-02-09 16:22] biaggi opened #145 "test suite failed to run"
Hi all, I've used this component in my project and it's working like charm, but I've found an issue trying to run the tests, using jest I receive the following error

src/pages/lead/leadCreate/leadCreatePage.spec.ts
  ● Test suite failed to run

    /home/user/securitas/sst/node_modules/ionic2-auto-complete/index.js:1
    ({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,

[2018-02-09 16:58] #100 closed

[2018-02-09 17:02] kadoshms commented on #145
Hey @biaggi thanks for your feedback.
There's no valid tests suits at the moment, but you are most welcome to write some and make a PR :)

[2018-02-20 16:16] biaggi commented on #145
Sorry, I was completely lost when I wrote this issue, the real issue is that jest is not compliant with the way in which this component was written, not your fault at all. You can freely close this issue.

Thanks anyway :-)

[2018-02-21 08:04] #145 closed

[2018-02-21 11:06] KevinGurden commented on #69
Thank you... I was struggling with this as well

[2018-02-23 08:55] craidencool13 opened #146 "Display other attributes."
Can I display another attribute to the dropdown list?

Sample:
`<ng-template #withFlags let-attrs="attrs" class="search-preview">
    <span [innerHTML]="attrs.name| boldprefix:attrs.keyword"></span>
     <span [innerHTML]="attrs.address | boldprefix:attrs.keyword"></span>
</ng-template>`

Thanks!

[2018-02-23 16:55] McRosbeef commented on #129
I have the same issue and @sandervankasteel your solution does not work for me.
@fortuneNext did you solve your problem and how ?

[2018-02-27 12:04] Jhonsensf commented on #129
@sandervankasteel  I solved it just changing `width: 90vw;` by 'width: 100%;` on the auto-complete.css file

[code]

[2018-03-04 10:46] mpadmaraj opened #147 "Not rendering in ion-item and ion-slide"
I was trying to use this with-in ion-item that is with-in ion-slide but it was not showing the autocomplete component. Is there something I can tweak to make this work?

[2018-03-04 13:23] kadoshms commented on #147
@mpadmaraj Please look at https://github.com/kadoshms/ionic2-autocomplete/issues/95 and https://github.com/kadoshms/ionic2-autocomplete/issues/104

[2018-03-11 08:52] kadoshms commented on #146
@craidencool13 sure, you can access the `attrs.data` within the template, and it has access to all the data attributes associated with your items.

[2018-03-11 08:52] #146 closed

[2018-03-12 14:04] olaisen81 commented on #107
Same issue, any solution?

[2018-03-18 04:38] GCoe opened #150 "After selection, searchbar.getSelection() gives always the previous selected object"
Hi,
I'm trying get the currently select object with this.searchbar.getSelection() .

The HTML :

`      <ion-col col-3>
        <ion-auto-complete #searchbar (autoBlur)="ProcessBlur()" (itemSelected)="ProcessItemSelected()" [dataProvider]="completeTestService" [(ngModel)]="myModelObject.name" [options]="{ placeholder : 'Select country' ,type : 'text'}"></ion-auto-complete>
      </ion-col>
`
The T

[2018-03-19 15:26] yusufabayomio commented on #150
I had the same issue and here's what I did.
I used the inbuilt **itemSelected** event

`<ion-auto-complete [dataProvider]="completeTestService" [template]="withFlags" #searchbar (itemSelected)="selectedItem($event)"></ion-auto-complete>`

Then in my controller. I have the function
`selectedItem(value) {
    console.log(value)
  }`
It gets the selected item object

[2018-03-20 19:41] Gehazzz opened #151 "Suggestions list is not showed up when only first character is entered"
Suggestions list is not showed up when only first character is entered.
![image](https://user-images.githubusercontent.com/14115124/37678034-85a71144-2c85-11e8-9c2d-add4dd990db5.png)
List of suggestions is returned properly from getResults method of defined dataProvider, but not displayed. It appears only after click or after the next typed character.
![image](https://user-images.githubusercontent

[2018-03-21 00:48] GCoe commented on #150
Thank you @yusufabayomio .

I'll try it. Ar'you using ionic2-autocomplete on a production environment ?

[2018-03-21 06:18] yasarozg opened #152 "ionic3?"
Hi,

Since it requires angular4, is there a ionic3 version of this component?
Can i use it in a ionic3 with angular5 project?

Thanks

[2018-03-21 07:40] kadoshms commented on #152
Yes it is possible.

[2018-03-21 07:40] #152 closed

[2018-03-21 07:41] #147 closed

[2018-03-21 07:41] #144 closed

[2018-03-24 15:09] mnibras commented on #130
@fortuneNext it's work for me. Thank you!!!

[2018-03-24 16:12] mnibras opened #153 "Selected item not coming top of the list"
When I start typing a word, relevant item not coming to the top. Also, irrelevant items still appear in the list. I have added a screenshot of the issue. _https://imgur.com/a/O97iO_

[2018-03-26 20:29] eake commented on #107
With new version, it works now on ios, but on android I still have same issue.

[2018-03-27 10:53] sivajik34 commented on #97
any update on this?
really useful feature.

[2018-04-04 17:10] pablogarciamiranda commented on #125
Same issue here, any updates?

[2018-04-05 07:02] gofenice commented on #125
Sorry , What ?

On Wed, Apr 4, 2018 at 10:40 PM, Pablo García Miranda <
notifications@github.com> wrote:

--

[image: GoFenice Technologies] <http://www.gofenice.com/>

Shiyas / Project Managerinfo@gofenice.com / +919995512949

GoFenice TechnologiesOsmaniya Tower , First FloorKamaleswaram , Manacaud
695009 , Trivandrumwww.gofenice.com

[image: Facebook]  <https://www.facebook.com/gofenice/?fref=ts

[2018-04-06 14:29] gaurishrane commented on #125
Same Issue I am using in form-group and it is not clear, showing previous data.

[2018-04-10 06:39] Anarhislav commented on #107
same issue, any fix?

[2018-04-13 12:27] nosTa1337 commented on #107
same issue on android.

[2018-04-13 21:48] renanmoraes opened #155 "Problems with mult search bar"
I need to use 3 search bar but each one pointing to a specific search link.

I'm doing it this way:

**HTML**
[code]

**app.module**

[code]

**PROVIDER CEP**

[code]

**PROVIDER CITIES**
[code]

**PROVIDER TYPEIMMOBILE**

[code]

This error is appearing, I tried to execute several ways of correction but I could not, and I'm not really sure what the error is.

[2018-04-16 09:52] vkbrulex commented on #107
Simple fix on index.js  of this node module change  tap event with click event where select(suggestion) is fired and use $event.stopPropagation() instead of $event.srcEvent.stopPropagation().

Find **(tap)=\"select(suggestion);$event.srcEvent.stopPropagation()\"**  with control+f
and replace with
**(click)=\"select(suggestion);$event.stopPropagation()\"**
and replace with

turns out reason for the

[2018-04-16 19:56] pedelon commented on #128
Is there a way to use ion-auto-complete with a simple array of strings? and not with a provider

[2018-04-17 05:15] ar27111994 commented on #128
Hi @pedelon , Maybe try wrapping that array inside an Observable. And don't forget to use `map` on Observable results.

[2018-04-26 21:23] ariusxi opened #158 "How i define debounce?"
Like the ion-searchbar how i define debounce in ion-autocomplete?

[2018-04-29 06:02] vkbrulex commented on #107
Anarhislav open your  project goto node modules directory and open index.js  search and find (click)="select(suggestion);$event.stopPropagation() and replace with (tap)="select(suggestion);$event.srcEvent.stopPropagation() your issue will be fixed

[2018-05-02 20:08] #107 closed

[2018-05-04 12:56] FredeHo commented on #57
I fixed it by setting
[code]

[2018-05-07 10:01] kadoshms commented on #153
@mnibras can you please share your service? it is possiblle that it does not filter the results as it should

[2018-05-08 00:51] renanmoraes commented on #107
I'm using the "ionic2-auto-complete" version: "^ 1.6.2-alpha",
 but continue with the same error, which command to adjust this problem?

[2018-05-08 14:53] kadoshms commented on #107
@Anarhislav this will be fixed someday in the near future, but unfortunatly as I stated before, I am not really available for maintaining the repo on a regular basis. You are more invited though to fork the repo and try the fix provided in the pull requests, and compile your own version :)
I promise I will dedicate some time anytime soon, but I can't tell when it will happen...

[2018-05-09 00:54] renanmoraes commented on #107
Anyone who has experience to do that would love it, I'm not knowledgeable enough to generate these builds, but anyone who knows would greatly appreciate the help.

[2018-06-01 02:54] CindyLulu opened #159 "how to hide the search results, when the blurred from the autocomplete field"
The dropdown list will be hide when auto blur in browser, but in ios version, the dropdown list still displayed if I click other places.

[2018-06-02 07:56] oliviercherrier opened #160 "No scroll throw selected items"
Following your implementation instruction, I did not succeed to scroll throw displayed item in the list of selected item.

Is it a known issue ?

Thank you by advance for your help and thank you for this plugin.

[2018-06-02 07:59] oliviercherrier commented on #151
It works also for me. It is probably a problem with the creation of your observable.

[2018-06-15 19:41] rsweny commented on #95
if the auto-complete is inside an ion-card I had to add this to the card: style="overflow: visible;"

[2018-06-21 22:16] geogeek11 opened #162 "setValue not working"
i've tried to set initial value of the Autocomplete Component using different methods:
*i've tried this.searchbar.setValue() but it throws this error "this.DataProvider is undefined"
*set keyword in this manner   <ion-auto-complete  [keyword]="XXXXXX"  .... did not work
*set keyword this.searchbar.keyword = "XXXXXXX"; did not work

i don't know if there is another manner so set value of the autoco

[2018-06-30 05:15] AamirAlam opened #163 "On selecting on of the suggested items the background model also get selected this issue only in android device"
**search.html **

`  <ng-template #withCode let-attrs="attrs">
       <span [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span> - <span [innerHTML]="attrs.data.code | boldprefix:attrs.keyword"></span>
      </ng-template>
       <ion-auto-complete  id="search" [dataProvider]="statinAutoComp"
                          formControlName = "fromStation"
                          [options]=

[2018-06-30 23:05] renanmoraes commented on #143
Any result of this option? It would also be good for me. I have already made the change in my project because it is very simple to implement.

[2018-06-30 23:14] renanmoraes commented on #75
@kadoshms  Really still occurs

[2018-07-01 06:01] kadoshms commented on #143
@renanmoraes Hey, you can simply fork the repo and clone the fork to your local workspace.
After your'e done with the changes, you can either push them and make a pull request to the main project, and then I will merge when I can (it could take some time), or you can run the build script (`npm run build`), then a `dist` folder will be created. Now you have two options - publish it to npm, or to co

[2018-07-08 04:37] AamirAlam commented on #163
Hey kadoshms please help me to resolve this issue.

[2018-07-13 08:58] JeongJun-Lee commented on #129
@McRosbeef Thank you for your solution, but is there any other solution without modifying auto-complete.css file directly?

[2018-07-14 07:56] JeongJun-Lee commented on #135
But I think it's still bug. The two-way binding by NgModel should work well.

[2018-07-14 07:58] JeongJun-Lee commented on #125
+1

[2018-07-17 13:45] JeongJun-Lee commented on #112
Is there any update? is this feature possible now?

[2018-07-26 09:48] vulkanosaure commented on #129
you can add
[code]
anywhere in your custom css files to override auto-complete.css
Adjust the margin to your needs

[2018-07-27 04:30] quangpdt commented on #107
The fix is already merged to master but the latest version is not updated yet, sadly. Now the quickest way to fix this issue is fork this repo and make your own package on NPM

[2018-08-01 13:57] luistechio commented on #163
Hello!

I change the "tap" event to "click" on template directive and remove second param "stopPropagation";

before:
(tap)=\"select(suggestion);$event.srcEvent.stopPropagation()\"

after:
(click)=\"select(suggestion);\"

works fine in Android and IOS

[2018-08-01 14:00] luistechio commented on #158
<ion-auto-complete [dataProvider]="Provider" [(ngModel)]="model" [options]="{placeholder: 'Search', debounce: 500, type: 'text'}"></ion-auto-complete>

[2018-08-07 19:14] anujsinghwd opened #164 "ERROR TypeError: "value.replace is not a function""
![screen shot 2018-08-08 at 12 43 05 am](https://user-images.githubusercontent.com/24680004/43797154-1fa98b00-9aa4-11e8-96eb-593932b74354.png)

[2018-08-16 04:38] allanpoppe commented on #125
+1

[2018-08-20 18:03] turnono opened #165 "Not working in Ionic 4"
It was working fine in Ionic 3. But since i a have upgraded to Ionic 4, I am getting the below error:

ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[Searchbar -> Platform]:
  StaticInjectorError(Platform: core)[Searchbar -> Platform]:
    NullInjectorError: No provider for Platform!

-----------
my code
--------
[code]

[2018-08-21 11:37] akashbiz commented on #164
+1, same issue

[2018-08-23 19:29] rbenzing commented on #113
change:
ion-auto-complete {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            margin: auto;
            z-index: 10;
        }

to:

ion-auto-complete ul {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            margin: auto;
            z-index: 10;
        }

[2018-09-05 12:38] MunizErthal commented on #111
Change css, create:
.searchbar-clear-icon.button.button-md.button-clear.button-clear-md { display: flex !important;}

Done ;)

[2018-09-10 09:03] sp1ndl3r commented on #33
Would it be possible to implement the getResult method with an array of aribtrarary data as the second argument instead of using this?

[2018-09-27 13:16] RELAXccc opened #166 "ionic 4 dependencies fix"
Hi,
to get it working with Ionic 4 i had to manually install rxjs and edit
the Import statements of index.js to:
[code]
greetings

[2018-09-27 13:21] RELAXccc commented on #165
you still need to add
`AutoCompleteModule`
to `@NgModule({imports: [`
same as in ionic 3

[2018-10-26 00:58] LuisRodriguezDev commented on #166
Hi! Can you be a little more specific about how you "manually installed rxjs"? Is there some series of steps you have to do after installing rxjs? I installed it with 'npm install rxjs' and got this error:

`
[ng] ERROR in ./node_modules/rxjs/util/noop.d.ts

[ng] Module build failed (from ./node_modules/@ngtools/webpack/src/index.js):

[ng] Error: /home/luis/Cadif1/Entrenamiento/visor_movil_ionic4

[2018-11-13 14:23] AhmadKassem89 opened #167 "No provider for CompleteTestService!"
Hello,

I've followed your [instruction](https://github.com/kadoshms/ionic2-autocomplete) but i've faced some issues.
I'm working on a lazy loading page, so i've imported `AutoCompleteModule` on my `lazypage.module.ts `file. Then i imported `CompleteTestService` on my `lazypage.ts` file.

I'm getting the following error:

My CompleteTestService file looks like the one you provided in the instructi

[2018-11-13 14:51] AhmadKassem89 commented on #167
i've tried this on a new project. I got this error `TypeError: Cannot read property 'getResults' of undefined`

[2018-11-13 14:52] AhmadKassem89 commented on #167
I've tried this on a new empty project. I got this error `TypeError: Cannot read property 'getResults' of undefined`

I'm working on ionic 3 btw

[2018-11-14 12:29] AhmadKassem89 commented on #167
I've used another component (ng2-completer) to finish up with my application, but this need to be fixed !

[2018-11-16 13:10] fareshan commented on #167
It seems like I am having the same issue. I am getting this error:

  StaticInjectorError[CompleteTestService]:
    NullInjectorError: No provider for CompleteTestService!
Error: StaticInjectorError[CompleteTestService]:
  StaticInjectorError[CompleteTestService]:
    NullInjectorError: No provider for CompleteTestService!

[2018-11-16 15:59] karlerikounapuu commented on #167
I'm getting this error too when ionic is ran in development mode, haven't tried production though. What seems to temporarily fix the issue is when you modify/save the provider class and ionic rebuilds the components.

[2018-11-16 16:04] fareshan commented on #167
@karlerikounapuu if you mean that you found a workaround, can you explain what is it ? what do you mean by modify / save the provider ?

[2018-11-23 17:02] mor-david commented on #167
I ran into the same issue. Here is how I solved it:
import { CompleteTestService } from '../providers/CompleteTestService'; into your app.module.ts file.
Add CompleteTestService to the providers in app.module.ts

[2018-11-30 06:26] ghgithub opened #168 "Search Error"
![image](https://user-images.githubusercontent.com/3312606/49272260-e5653400-f4ab-11e8-8abe-ec9ffe899365.png)

[2018-12-02 04:12] ibmbootcamp commented on #109
@jobehi Thanks. This works for me.

[2018-12-11 12:24] presidentnickson commented on #107
Still having the same issue when i change it from `(click)="select(suggestion);$event.stopPropagation()` to `(tap)="select(suggestion);$event.srcEvent.stopPropagation()` - is anyone else still having this problem ?

[2018-12-28 15:31] charlesRms commented on #166
I've got the same problem as @LuisRodriguezDev

[2018-12-28 15:41] charlesRms commented on #166
I think this should make it work, in index.js :

[code]

[2019-01-02 00:56] Jai-A commented on #107
I am having the same issues with version 1.6.2-alpha i have tried changing: (tap)="select(suggestion);$event.srcEvent.stopPropagation() to (click)="select(suggestion);$event.srcEvent.stopPropagation()
but then the event seems to be undefined resulting in this error

SearchRidersComponent.html:7 ERROR TypeError: Cannot read property 'stopPropagation' of undefined
    at Object.eval [as handleEvent]

[2019-01-02 23:30] Jai-A commented on #107
@vkbrulex I tried to use your version of the package but my ionic is complaining that it can't find the module. i have checked the node modules folder for the package and it is there and has the same name.

I installed the package using:
npm install git+https://github.com/vkbrulex/ionic2-autocomplete.git --save

[2019-01-08 21:26] honeyspoon opened #169 "Observable.fromPromise deprecated in rxjs 6"
It seems that the Observable.fromPromise() function is deprecated in rxjs 6
Not sure what to do about it.
I forked the repo and added a fix for my setup.

Just changed
`Observable.fromPromise()` to `from()`

also had to import it
`import { Observable, Subject, from } from 'rxjs';`

[2019-01-31 12:59] hernancantori opened #171 "Ionic 3 - Multiple AutoComplete controls on same page"
I'd like to know if its possible to access multiple AutoComplete controls on the same page. I have no problem retrieving values from backend for all of them, but I can't get the values selected.,

the searchbar variable actually points to the second autocomplete control, while searchbar2 is undefined.

![image](https://user-images.githubusercontent.com/9123120/52055547-7903c100-253e-11e9-9566-52e3

[2019-02-15 03:31] Gregordy commented on #130
Yes thanks a lot, also working for me!!
Saved my day!

[2019-03-01 14:47] jrquick17 commented on #171
@DrowningLessons I am able to achieve multiple like this:

[code]

[2019-03-01 14:51] jrquick17 commented on #168
`replace()` is a [JavaScript function](https://www.w3schools.com/jsref/jsref_replace.asp) for strings. If the function does not exist then value is not a string. Looking into BoldPrefix it seems that you are not passing a string for the label. Make sure your labelAttribute or the getLabelAttribute are returning strings.

[2019-03-01 14:56] jrquick17 commented on #164
https://github.com/kadoshms/ionic2-autocomplete/issues/168#issuecomment-468690027

[2019-03-01 14:57] jrquick17 commented on #168
This is a copy of this [issue](https://github.com/kadoshms/ionic2-autocomplete/issues/164#issue-348451693).

[2019-03-04 09:27] SumeetHindinkeri commented on #163
Hello,
I made following changes in module  that is in "ionic2-auto-complete/index.js" for this issue
(click)=\"select(suggestion);$event.stopPropagation();\">\n

It worked fine with regular build.Though when I use prod build for my app this issue pops up again.
Can anybody help me to resolve this?

[2019-03-25 13:27] Jagat-sdrc opened #172 "<ion-auto-complete></ion-auto-complete> not working in pages"
<ion-auto-complete></ion-auto-complete> is not working in pages

[2019-05-16 13:14] Adejair commented on #162
you resolved this problem? i'm with the same

[2019-05-16 14:08] geogeek11 commented on #162
to set the placeholder I've used this code

  <ion-auto-complete   (itemSelected)="selected($event)" [options]="{ placeholder : 'Search', type : 'number' }"  [dataProvider]="completeService" #searchbar ></ion-auto-complete>

[2019-06-05 13:07] jagatb880 opened #173 "how to pass the data from html as [dataProvider] to AutoComplete"
how to pass the data from html as [dataProvider] to AutoComplete to filter with the search data and return the search array

[2019-06-14 19:31] wch94 commented on #162
Having this issue as well

[2019-06-14 20:19] wch94 opened #174 "Setting value no longer works."
Doing setValue() with a reference to the component doesn't work.
Doing someFormGroup.controls.someValue = "anything" doesn't work.
Using ngModel and setting it's value also doesn't work.

[2019-06-19 14:06] dyegonery commented on #107
I published a version of this package for Ionic 3 in Npmjs with the same solution proposed by @vkbrulex: [ionic3-auto-complete](https://www.npmjs.com/package/ionic3-auto-complete).

It can be installed this way: npm install ionic3-auto-complete --save

[2019-06-28 15:26] jim-wrock commented on #173
same question!

[2019-07-05 01:32] SimonBrazell commented on #89
Had the same issue, fixed it by importing the `AutoCompleteModule` in the specific page's `.module.ts` file instead of the `app.module.ts` file like so:

[code]
Thanks for the tip!

[2019-09-11 13:27] jrquick17 commented on #173
Check out [this demo](https://github.com/jrquick17/ionic4-auto-complete/tree/master/demo/src/app/components/simple-function) as an example.

[2019-09-11 13:29] jrquick17 commented on #167
Since this project is not actively maintained I have fixed this issue and others in a forked repository.

[Ionic4-auto-complete](https://GitHub.com/jrquick17/ionic4-auto-complete)

[2019-09-11 13:31] jrquick17 commented on #165
Check out [ionic4-auto-complete](https://github.com/jrquick17/ionic4-auto-complete)

[2019-10-31 05:18] ghost opened #176 "Not Working in Ionic v3"
I have tried installing both `ionic2-auto-complete` and `ionic3-auto-complete` however, neither of them have worked. Here's my package.json:

[code]

When I install `ionic3-auto-complete`, the only files that exist are CHANGELOG.md, LICENSE, package.json and README.md making it unusable.

When I install `ionic2-auto-complete`, I am unsure on how to pass the data. I am using a JSON API that is retu

[2020-02-20 12:50] rpragesh commented on #163
Hi,
This change in the module that is in "ionic2-auto-complete/index.js" is causing the issue in creating CI-CD build pipeline where every time new modules get installed while building the app and this is how the change in index.js made locally can not work for me. can anyone help in this?

[2020-02-21 22:09] yquintana commented on #173
same question!

[2020-02-22 03:17] jrquick17 commented on #173
Checkout the demo mentioned above, it uses [this service](https://github.com/jrquick17/ionic4-auto-complete/blob/master/demo/src/app/services/simple-function.service.ts) to filter results.

[2020-04-09 21:30] #164 closed

[2020-07-27 07:21] fnkap commented on #140
Hi, any workaround on how to focus the searchbar in useIonInput is true?

[2020-09-09 13:42] jrquick17 commented on #176
I know the name is not clear but checkout [ionic4-auto-complete](https://GitHub.com/jrquick17/ionic4-auto-complete) for a compatable and currently maintained version.

[2020-09-09 13:44] jrquick17 commented on #174
Checkout [ionic4-auto-complete](https://GitHub.com/jrquick17/ionic4-auto-complete) for a comparable and currently maintained version of this project which still maintains the setValue function along with supporting Angular 2+ and Ionic 2+.